
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .align_price {
        text-align: right;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DRD Payment</title>
    <!-- Global stylesheets -->
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">

    <link href="/assets/vendors/select2-bootstrap/select2-bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/vendors/angular-1.5.5/select2/select2.css" rel="stylesheet" type="text/css">

    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/pages/form_layouts.js"></script>
    <script type="text/javascript" src="/assets/js/pages/form_bootstrap_select.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>

    <!-- /theme JS files -->
    @*<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>
    <script type="text/javascript" src="/assets/js/pages/form_checkboxes_radios.js"></script>*@



    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/bootstrap-datepicker.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="/assets/vendors/angular-1.5.5/angular.js"></script>
    <script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>
    <script src="/assets/vendors/angular-1.5.5/select2/select2.min.js"></script>

    <!----------date picker --------------------------->
    <script type="text/javascript" src="/assets/js/plugins/notifications/jgrowl.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/anytime.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/pickadate/legacy.js"></script>
    <script type="text/javascript" src="/assets/js/pages/picker_date.js"></script>
    <!------------------end date picker -------------->



    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="/assets/js/pages/form_multiselect.js"></script>


    <script type="text/javascript" src="/assets/js/plugins/loaders/progressbar.min.js"></script>
</head>
<body ng-app="opsigotravel">
    <div class="page-container" ng-controller="flighttypeController">
        <div>
            @*<div>trx_id : <input id="trx_id" type="text" ng-model="trx_id"/></div>
            <button class="btn bg-teal" type="button" ng-click="checkingPayment()"><i class="fa fa-search"></i>&nbsp;&nbsp;Checking Payment</button>
            <br />*@
            <h4>PAYMENT DEV TESTING</h4>
            <button class="btn bg-teal" type="button" ng-click="sendPayment(1)">Credit Card</button><br /><br />
            <button class="btn bg-teal" type="button" ng-click="sendPayment(6)">Permata Virtual Account</button><br /><br /><br /><br />
            @*<button class="btn bg-teal" type="button" ng-click="sendPayment(2)">BCA KlikPay</button><br /><br />
            <button class="btn bg-teal" type="button" ng-click="sendPayment(5)">KlikBca</button><br /><br />
            <button class="btn bg-teal" type="button" ng-click="sendPayment(4)">ATM Mandiri</button><br /><br />
            <button class="btn bg-teal" type="button" ng-click="sendPayment(3)">Mandiri Clickpay</button><br /><br />*@
            <button class="btn bg-teal" type="button" ng-click="sendEmail()"><i class="fa fa-search"></i>&nbsp;&nbsp;Test Send Email</button>
        </div>
        @*<p ng-bind-html="result_val">
            test
        </p>
        <div class="col-md-3">
            <div class="progress content-group-sm" id="h-fill-basic">
                <div class="progress-bar progress-bar-primary" data-transitiongoal-backup="{{progress}}" data-transitiongoal="{{progress}}" style="width: {{progress}}%;" aria-valuenow="{{progress}}">{{progress}}%</div>
            </div>

        </div>*@
    </div>
    <script type="text/javascript">


        var myApp = angular.module('opsigotravel', ['ngAnimate', 'ui.bootstrap']) //, 'ui.select2'])

        myApp.controller("flighttypeController", function ($scope, $location, $http, $filter, $timeout) {

            $scope.progress = 0;
            
            angular.element(document).ready(function () {
                //var progressPnr = function () {
                //    $scope.progress += 10;
                //    if ($scope.progress < 100)
                //        $timeout(progressPnr, 500);
                //}
                //$timeout(progressPnr, 500);


                var array = [{
                    familyName: "one"
                },
{
    familyName: "two"
},
{
    familyName: "one"
},
{
    familyName: "two"
}];

                var dupes = {};
                var singles = [];

                $.each(array, function (i, el) {

                    if (!dupes[el.familyName]) {
                        dupes[el.familyName] = true;
                        singles.push(el);
                    }
                });
            });

            $scope.sendPayment = function (type) {
                @*$http.post('@Url.Action("GetPayment", "Home")').then(function (response) {
                    if (response.data) {
                        $scope.result_val = response.data;
                        //return response.data;
                    }
                });*@

                var tp = '';
                if (type==1)
                    tp = 'CC';
                else if (type == 2)
                    tp = 'BCAKP';
                else if (type == 3)
                    tp = 'MDRCP';
                else if (type == 4)
                    tp = 'MDRATM';
                else if (type == 5)
                    tp = 'KBCA';
                else if (type == 6)
                    tp = 'PVA';
                //string orderno, string type, decimal amount, string descr, string bank, string name, string email
                window.location = '@Url.Action("Payment", "Faspay")' + '?invoiceid=1&invoiceno=BCX001&trxtype=&type=' + tp + '&amount=10000.00&descr=Sewa mobil Alphard&name=Budi&email=xbudi@yahoo.bak';

            }

            $scope.checkingPayment = function () {
                var trx_id = $scope.trx_id;
                var bill_no = 'BOP0203030';
                $http.post('@Url.Action("CheckingPayment", "Faspay")', { trx_id: trx_id, bill_no: bill_no }).then(function (response) {
                    if (response.data) {
                        $scope.result_val = response.data;
                        //return response.data;
                    }
                });



            }

            $scope.sendEmail = function () {
                
                $http.post('@Url.Action("SendMail", "Faspay")', { }).then(function (response) {
                    if (response.data) {
                        var data = response.data;
                    }
                }, function (response) {
                    var x = 0;
                });



            }
        }
        );
    </script>
</body>
