
@{
    ViewBag.Title = "pdfannotate";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Socket pdf anonate</title>
    <link rel="stylesheet" type="text/css" href="/Scripts/xpdf/toolbar.css">
    <link rel="stylesheet" type="text/css" href="/Scripts/xpdf/pdf_viewer.css">
    <script src="/Scripts/xpdf/socket.io-1.2.0.js"></script>
    @*<script src="https://code.jquery.com/jquery-1.11.1.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        body {
            background-color: #eee;
            font-family: sans-serif;
            margin: 0;
        }

        .example {
            margin-left: 100px;
        }

        .pdfViewer .canvasWrapper {
            box-shadow: 0 0 3px #bbb;
        }

        .pdfViewer .page {
            margin-bottom: 10px;
        }

        .annotationLayer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        #content-wrapper {
            position: absolute;
            top: 35px;
            left: 0;
            right: 0px;
            bottom: 0;
            overflow: auto;
        }

        #comment-wrapper {
            position: absolute;
            top: 35px;
            right: 0;
            bottom: 0;
            overflow: auto;
            width: 0px;
            background: #eaeaea;
            border-left: 1px solid #d0d0d0;
        }

            #comment-wrapper h4 {
                margin: 10px;
            }

            #comment-wrapper .comment-list {
                font-size: 12px;
                position: absolute;
                top: 38px;
                left: 0;
                right: 0;
                bottom: 0;
            }

            #comment-wrapper .comment-list-item {
                border-bottom: 1px solid #d0d0d0;
                padding: 10px;
            }

            #comment-wrapper .comment-list-container {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 47px;
                overflow: auto;
            }

            #comment-wrapper .comment-list-form {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 10px;
            }

                #comment-wrapper .comment-list-form input {
                    padding: 5px;
                    width: 100%;
                }
    </style>
</head>
@*<script src="/Scripts/xpdf/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>*@
<body>
    <div class="toolbar">
        <button class="cursor" type="button" title="Cursor" data-tooltype="cursor">&#x279A;</button>
        <div class="spacer"></div>
        <button class="rectangle" type="button" title="Rectangle" data-tooltype="area">&nbsp;</button>
        <button class="circle" type="button" title="Circle" data-tooltype="circle">&cir;</button>
        <button class="circle" type="button" title="fillCircle" data-tooltype="fillcircle">&#x25C9;</button>
        <button class="circle" type="button" title="emptyCircle" data-tooltype="emptycircle">&ofcir;</button><!-- <button class="arrow" type="arrow" title="Arrow" data-tooltype="arrow">➤</button>-->
        <div class="hotspot-color"></div>
        <button class="highlight" type="button" title="Highlight" data-tooltype="highlight">&nbsp;</button>
        <button class="strikeout" type="button" title="Strikeout" data-tooltype="strikeout">&nbsp;</button>
        <div class="spacer"></div>
        <button class="text" type="button" title="Text Tool" data-tooltype="text"></button>
        <select class="text-size"></select>
        <div class="text-color"></div>
        <div class="spacer"></div>      <button class="pen" type="button" title="Pen Tool" data-tooltype="draw">&#x270E;</button>
        <select class="pen-size"></select>
        <div class="pen-color"></div>
        <div class="spacer"></div><!-- <button class="comment" type="button" title="Comment" data-tooltype="point">🗨</button>--><!-- <div class="spacer"></div>-->
        <select class="scale">
            <option value=".5">50%</option>
            <option value="1">100%</option>
            <option value="1.33">133%</option>
            <option value="1.5">150%</option>
            <option value="2">200%</option>
        </select>
        <a class="rotate-ccw" href="javascript://" title="Rotate Counter Clockwise">&#x27F2;</a>
        <a class="rotate-cw" href="javascript://" title="Rotate Clockwise">&#x27F3;</a>
        <div class="spacer"></div>
        <a class="clear" href="javascript://" title="Clear">&times;</a>
        <div class="spacer"></div>
        <button class="Download" id="download" title="Download">Download</button>
        <form method="POST" style="display:none;" action="/download">
            <input id="input-annotate" type="text" name="annotations">
            <input id="input-height" type="text" name="pdfheight">
            <input id="download-button" type="submit" value="submit">
        </form><div class="spacer">
        </div>
        <select class="example">
            <option value="example1.pdf">example1</option>
            <option value="example2.pdf">example2</option>
            <option value="example3.pdf">example3</option>
            <option value="example4.pdf">example4</option>
        </select>
    </div>
    <div id="content-wrapper">
        <div class="pdfViewer" id="viewer">
            <!--
            <div style="width: 612px; height: 792px;" class="page" data-loaded="true" id="pageContainer1" data-page-number="1">
                @*<div class="canvasWrapper" style="width: 612px; height: 792px;">
                    <canvas id="page1" width="680" height="872" style="width: 616px; height: 798px;"></canvas>
                </div>*@
                @*<div class="textLayer" style="width: 612px; height: 792px;">
                    <div data-canvas-width="78.744" style="left: 254.81px; top: 74.48px; font-size: 12px; font-family: sans-serif; transform: scaleX(1.0003);">eSign Consent</div>
                    <div data-canvas-width="88.587" style="left: 53.76px; top: 101.435px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00067);">Consumer Disclosure </div>
                    <div style="left: 142.46px; top: 101.435px; font-size: 9px; font-family: sans-serif;">-</div><div data-canvas-width="369.3059999999998" style="left: 147.98px; top: 101.435px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00073);">Conducting business electronically, receiving electronic notices and disclosures, and signing </div>
                    <div data-canvas-width="101.04300000000002" style="left: 53.76px; top: 111.515px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00661);">documents electronically.</div><div data-canvas-width="150.039" style="left: 53.76px; top: 132.515px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999684);">Please read the following information </div>
                    <div data-canvas-width="230.29199999999997" style="left: 204.05px; top: 132.515px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.09593);">before signing this consent and the following closing </div><div data-canvas-width="47.925" style="left: 434.59px; top: 132.515px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.0886);">documents</div><div data-canvas-width="64.96199999999999" style="left: 482.62px; top: 132.515px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.998815);">. By proceeding </div>
                    <div data-canvas-width="506.42099999999976" style="left: 53.76px; top: 143.555px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999271);">forward and signing this document you are agreeing that you have reviewed the following consumer disclosure information and </div><div data-canvas-width="427.30199999999985" style="left: 53.76px; top: 154.595px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999034);">consent to transact business using electronic communications, to receive notices and disclosures electronic</div>
                    <div data-canvas-width="71.29799999999999" style="left: 481.66px; top: 154.595px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00603);">ally, and to utilize </div>
                    <div data-canvas-width="111.07800000000002" style="left: 53.76px; top: 165.635px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00017);">electronic signatures in lieu </div><div data-canvas-width="31.500000000000004" style="left: 164.9px; top: 165.635px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999303);">of using</div><div data-canvas-width="335.88" style="left: 199.01px; top: 165.635px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00149);">paper documents. You understand electronic signatures are equivalent to traditional </div>
                    <div data-canvas-width="64.116" style="left: 53.76px; top: 176.675px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00116);">signatures, and </div><div data-canvas-width="59.89499999999998" style="left: 117.86px; top: 176.675px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.997471);">equally binding</div><div data-canvas-width="306.97199999999975" style="left: 177.86px; top: 176.675px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.998759);">. This electronic signature service is provided on behalf of clients, "requesting</div>
                    <div data-canvas-width="70.11899999999999" style="left: 487.78px; top: 176.675px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00815);">party," whom are </div><div data-canvas-width="72.58500000000001" style="left: 53.76px; top: 187.715px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00055);">sending electronic</div><div data-canvas-width="368.83799999999985" style="left: 128.9px; top: 187.715px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999049);">documents, notices, disclosures or requesting electronic signatures to you. If there is no third</div>
                    <div style="left: 498.22px; top: 187.715px; font-size: 9px; font-family: sans-serif;">-</div><div data-canvas-width="19.953" style="left: 501.22px; top: 187.715px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.997236);">party</div><div data-canvas-width="450.3689999999998" style="left: 53.76px; top: 198.753px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00399);">“requesting party,” you are deemed the “requesting party”. You are not required to sign documents electronically. </div><div data-canvas-width="5.04" style="left: 504.7px; top: 198.755px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.0078);">If</div><div data-canvas-width="14.364" style="left: 512.26px; top: 198.755px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.989887);">you</div>
                    <div data-canvas-width="25.992000000000004" style="left: 529.18px; top: 198.755px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999261);">prefer </div><div data-canvas-width="382.0229999999999" style="left: 53.76px; top: 209.795px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999511);">not to do so you may request to receive paper copies and withdraw your consent at any time as </div><div data-canvas-width="64.98" style="left: 436.15px; top: 209.795px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999092);">described below</div><div style="left: 501.1px; top: 209.795px; font-size: 9px; font-family: sans-serif;">.</div><div id="pdf-annotate-screenreader-491cd918-fd6a-45f8-abc5-fcb7f6eb6e67" style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">Unlabeled drawing</div><div data-canvas-width="57.06" style="left: 53.76px; top: 229.835px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00049);">Paper Copies:</div><div data-canvas-width="476.3520000000001" style="left: 53.76px; top: 239.795px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00089);">You are not required to receive notices or disclosures or sign documents electronically and may request paper copies of</div>
                    <div data-canvas-width="419.48100000000005" style="left: 53.76px; top: 249.665px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00132);">documents or disclosures if you prefer to do so. You also have the ability to download and print any open </div><div data-canvas-width="37.017" style="left: 473.74px; top: 249.665px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999813);">or signed</div><div data-canvas-width="46.512000000000015" style="left: 513.34px; top: 249.665px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999723);">documents </div><div data-canvas-width="374.83199999999994" style="left: 53.76px; top: 259.505px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999017);">sent to you through the electronic signature system. If you wish to receive paper copies in lieu </div><div data-canvas-width="51.057" style="left: 429.07px; top: 259.505px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00063);">of electronic </div><div data-canvas-width="46.503000000000014" style="left: 480.1px; top: 259.505px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999529);">documents,</div><div data-canvas-width="16.893" style="left: 529.18px; top: 259.505px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.99305);">you </div>
                    <div data-canvas-width="17.082" style="left: 53.76px; top: 269.345px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00468);">may</div><div data-canvas-width="306.2789999999998" style="left: 73.344px; top: 269.345px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999118);">close this web browser and request paper copies from the "requesting party" </div><div data-canvas-width="46.953" style="left: 379.99px; top: 269.345px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.99845);">by following</div><div data-canvas-width="124.76700000000004" style="left: 429.55px; top: 269.345px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00146);">the procedures outlined below. </div><div data-canvas-width="283.8779999999998" style="left: 53.76px; top: 279.185px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999397);">The "requesting party" may apply a charge for requesting paper copies.</div><div data-canvas-width="93.01500000000001" style="left: 53.76px; top: 298.025px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.99972);">Withdrawal of Consent:</div><div data-canvas-width="171.52199999999996" style="left: 53.76px; top: 309.425px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.0045);">You may withdraw your consent to receive </div><div data-canvas-width="261.32399999999984" style="left: 225.53px; top: 309.425px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.99887);">electronic documents, notices or disclosures at any time. In order </div><div data-canvas-width="47.94300000000001" style="left: 487.18px; top: 309.425px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.998416);">to withdraw </div><div data-canvas-width="34.128" style="left: 53.76px; top: 320.705px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.0031);">consent,</div><div data-canvas-width="367.74899999999997" style="left: 90.384px; top: 320.705px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999085);">you must notify the "requesting party" that you wish to withdraw consent and to provide your </div><div data-canvas-width="69.462" style="left: 458.62px; top: 320.705px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.998892);">future documents</div><div data-canvas-width="4.800000000000001" style="left: 528.22px; top: 320.705px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.959813);">, </div><div data-canvas-width="222.92099999999996" style="left: 53.76px; top: 331.985px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999191);">notices, and disclosures in paper format. After withdrawi</div><div data-canvas-width="152.43300000000002" style="left: 277.01px; top: 331.985px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.998905);">ng consent if at any point in the future </div><div data-canvas-width="49.473" style="left: 429.67px; top: 331.985px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.998745);">you proceed</div><div data-canvas-width="75.501" style="left: 481.78px; top: 331.985px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999516);">forward and utilize </div><div data-canvas-width="292.9499999999998" style="left: 53.76px; top: 343.265px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999257);">the electronic signature system you are once again consenting to receive </div><div data-canvas-width="73.92599999999999" style="left: 347.11px; top: 343.265px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.998532);">notices, disclosure</div><div data-canvas-width="137.36700000000002" style="left: 421.15px; top: 343.265px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00952);">, or documents electronically. You </div><div data-canvas-width="227.4659999999999" style="left: 53.76px; top: 354.545px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999347);">may withdraw consent to receive electronic notices and d</div><div data-canvas-width="263.22299999999984" style="left: 281.57px; top: 354.545px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.998414);">isclosures and optionally electronically signatures by following the </div><div data-canvas-width="114.95700000000002" style="left: 53.76px; top: 365.825px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00338);">procedures described below.</div><div data-canvas-width="74.061" style="left: 53.76px; top: 385.985px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00018);">Scope of Consent:</div><div data-canvas-width="470.48399999999987" style="left: 53.76px; top: 397.505px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00116);">You agree to receive electronic notices, disclosures, and electronic signature documents with all related and identified </div><div data-canvas-width="86.99400000000001" style="left: 53.76px; top: 409.025px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999342);">documents and disclo</div><div data-canvas-width="400.55400000000003" style="left: 140.9px; top: 409.025px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00236);">sures provided over the course of your relationship with the "requesting party." You may at any point </div><div data-canvas-width="271.5029999999999" style="left: 53.76px; top: 420.445px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.0013);">withdraw your consent by following the procedures described below.</div><div data-canvas-width="359.5769999999999" style="left: 53.76px; top: 441.205px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00188);">Requesting paper copies, withdrawing consent, and updating contact information. You hav</div><div data-canvas-width="98.99100000000001" style="left: 413.71px; top: 441.205px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999244);">e the ability to download </div><div data-canvas-width="34.86600000000001" style="left: 512.86px; top: 441.205px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.995477);">and print</div><div data-canvas-width="444.50099999999986" style="left: 53.76px; top: 452.485px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00169);">any documents we send to you through the electronic signature system. To request paper copies of documents </div><div data-canvas-width="45.93600000000001" style="left: 498.7px; top: 452.485px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.99828);">or withdraw</div><div data-canvas-width="393.97499999999985" style="left: 53.76px; top: 463.765px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999445);">consent to conduct business electronically (i.e. receive documents, notices, or disclosures electroni</div><div data-canvas-width="96.507" style="left: 448.15px; top: 463.765px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999622);">cally or sign documents </div><div data-canvas-width="486.51299999999986" style="left: 53.76px; top: 475.045px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999267);">electronically) please contact the "requesting party" by telephone, postal mail, or by sending an email to the "requesting pa</div><div data-canvas-width="15.696000000000002" style="left: 540.82px; top: 475.045px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.0002);">rty" </div><div data-canvas-width="106.524" style="left: 53.76px; top: 486.445px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999717);">with the following subjects:</div><div data-canvas-width="301.46399999999977" style="left: 53.76px; top: 506.605px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00131);">"Requesting Paper Copies" provide name, email, telephone number, postal </div><div data-canvas-width="110.40300000000002" style="left: 355.63px; top: 506.605px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.998522);">address and document title.</div><div data-canvas-width="329.3009999999997" style="left: 53.76px; top: 518.365px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.0007);">"Withdraw Consent" provide name, email, date, telephone number, postal address.</div><div data-canvas-width="441.2429999999998" style="left: 53.76px; top: 530.125px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999088);">"Update Contact Information" provide name, email, telephone number and postal address Any fees associated </div><div data-canvas-width="60.398999999999994" style="left: 495.58px; top: 530.125px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.997759);">with requesting</div><div data-canvas-width="107.019" style="left: 53.76px; top: 541.885px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999662);">paper copies or withdrawin</div><div data-canvas-width="216.7019999999999" style="left: 160.94px; top: 541.885px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00166);">g consent will be determined by the "requesting party."</div><div data-canvas-width="78.98400000000001" style="left: 53.76px; top: 562.645px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999235);">Required hardware:</div><div style="left: 53.76px; top: 573.803px; font-size: 9px; font-family: sans-serif;">•</div><div data-canvas-width="110.53800000000001" style="left: 62.88px; top: 573.805px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999823);">Desktop or laptop computer</div><div style="left: 53.76px; top: 584.993px; font-size: 9px; font-family: sans-serif;">•</div><div data-canvas-width="51.057" style="left: 62.88px; top: 584.995px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.004);">Web camera</div><div data-canvas-width="77.07600000000001" style="left: 53.76px; top: 605.395px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00046);">Required Software:</div><div style="left: 53.76px; top: 616.433px; font-size: 9px; font-family: sans-serif;">•</div><div data-canvas-width="263.48399999999987" style="left: 62.88px; top: 616.435px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00142);">Chrome or Firefox browser. Browsers must have cookies enabled.</div><div style="left: 53.76px; top: 627.713px; font-size: 9px; font-family: sans-serif;">•</div><div data-canvas-width="240.93899999999985" style="left: 62.88px; top: 627.715px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00467);">You will need an up to date pdf viewer, like Acrobat Reader t</div><div data-canvas-width="103.563" style="left: 304.01px; top: 627.715px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00006);">o view signed documents.</div><div data-canvas-width="220.04099999999977" style="left: 53.76px; top: 672.955px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999113);">____________________________________________</div><div data-canvas-width="215.11799999999977" style="left: 341.83px; top: 672.955px; font-size: 9px; font-family: sans-serif; transform: scaleX(0.999475);">___________________________________________</div><div data-canvas-width="38.556000000000004" style="left: 53.76px; top: 684.231px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00076);">Signature</div><div data-canvas-width="19.035" style="left: 233.81px; top: 684.231px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00128);">Date</div><div data-canvas-width="38.556000000000004" style="left: 341.83px; top: 684.231px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00076);">Signature</div><div data-canvas-width="19.035" style="left: 521.86px; top: 684.231px; font-size: 9px; font-family: sans-serif; transform: scaleX(1.00128);">Date</div><div class="endOfContent"></div>
                </div>*@
                @*<object data="/doc/mgn/test.pdf" type="application/pdf" width="750" height="600">
                    
                    
                </object>*@
                <svg class="annotationLayer" width="612" height="792" data-pdf-annotate-container="true" data-pdf-annotate-viewport="{&quot;viewBox&quot;:[0,0,612,792],&quot;scale&quot;:1,&quot;rotation&quot;:0,&quot;offsetX&quot;:0,&quot;offsetY&quot;:0,&quot;transform&quot;:[1,0,0,-1,0,792],&quot;width&quot;:612,&quot;height&quot;:792,&quot;fontScale&quot;:1}" data-pdf-annotate-document="shared/example3.pdf" data-pdf-annotate-page="1" style="width: 612px;height: 792px;">
                    <circle cx="212" cy="154" r="10" stroke="darkgoldenrod" fill="none" stroke-width="5" data-pdf-annotate-id="e11b46c3-413f-4fbd-8754-c8e76693e4b6" data-pdf-annotate-type="circle" aria-hidden="true" transform="scale(1) rotate(0) translate(0, 0)"></circle>
                    <circle cx="230" cy="123" r="10" stroke="darkgoldenrod" fill="none" stroke-width="5" data-pdf-annotate-id="5e1ddaf1-3cad-4faa-a576-eec843a7c56c" data-pdf-annotate-type="circle" aria-hidden="true" transform="scale(1) rotate(0) translate(0, 0)"></circle>
                    <path d="M240 573 272 564 M272 564 320 554 M320 554 372 544 M372 544 416 537 M416 537 439 535 M439 535 447 534Z" stroke="#000000" stroke-width="12" fill="none" data-pdf-annotate-id="666c7661-1697-4319-9e1c-a3aa79637929" data-pdf-annotate-type="drawing" aria-hidden="true" transform="scale(1) rotate(0) translate(0, 0)"></path>
                    <path d="M124 434 122 443 M122 443 120 452 M120 452 118 465 M118 465 115 477 M115 477 112 495 M112 495 110 507 M110 507 109 516 M109 516 109 519 M109 519 109 520 M109 520 110 519 M110 519 123 508 M123 508 141 492 M141 492 158 477 M158 477 182 457 M182 457 190 450 M190 450 192 450 M192 450 189 462 M189 462 185 474 M185 474 165 515 M165 515 155 534 M155 534 151 543 M151 543 151 544 M151 544 152 540 M152 540 160 529 M160 529 186 496 M186 496 242 436 M242 436 267 414 M267 414 276 408 M276 408 270 427 M270 427 260 452 M260 452 251 474 M251 474 251 476 M251 476 256 472 M256 472 270 461 M270 461 275 457 M275 457 275 458 M275 458 275 462 M275 462 272 478 M272 478 270 495 M270 495 270 504 M270 504 272 510 M272 510 281 511 M281 511 301 504 M301 504 306 503 M306 503 307 503 M307 503 307 508 M307 508 305 514 M305 514 306 521 M306 521 319 523 M319 523 350 523 M350 523 395 515 M395 515 433 504 M433 504 450 497 M450 497 452 497 M452 497 452 496 M452 496 449 497 M449 497 435 503 M435 503 426 506Z" stroke="#000000" stroke-width="12" fill="none" data-pdf-annotate-id="b0c50c71-7db5-44c6-879b-4d03f031b3f3" data-pdf-annotate-type="drawing" aria-hidden="true" transform="scale(1) rotate(0) translate(0, 0)"></path>
                </svg>
                <div id="pdf-annotate-edit-overlay" data-target-id="b0c50c71-7db5-44c6-879b-4d03f031b3f3" style="box-sizing: content-box; position: absolute; top: 405px; left: 106px; width: 343px; height: 136px; border: 3px solid rgb(0, 191, 255); border-radius: 3px; z-index: 20100;">
                    <a href="javascript://" style="background: rgb(255, 255, 255); border-radius: 20px; border: 1px solid rgb(187, 187, 187); color: rgb(187, 187, 187); font-size: 16px; padding: 2px; text-align: center; text-decoration: none; position: absolute; top: -13px; right: -13px; width: 25px; height: 25px; display: none;">×</a>
                </div>
            </div>
                -->

        </div>
    </div>
    <div id="test">
    </div>
    <div id="comment-wrapper">
        <h4>Comments</h4>
        <div class="comment-list">
            <div class="comment-list-container">
                <div class="comment-list-item">No comments</div>
            </div>
            <form class="comment-list-form" style="display:none;">
                <input type="text" placeholder="Add a Comment">
            </form>
        </div>
    </div>
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\\+/g, " "));
        }
        var pdf = "cv.pdf";
    </script>
    <script src="/Scripts/xpdf/pdf.js"></script>
    <script src="/Scripts/xpdf/pdf_viewer.js"></script><!-- <script src="http://localhost:8080/__build__/index.js"></script>-->
    <script src="/Scripts/xpdf/jspdf.debug.js"></script><!-- <script src="npm/twitter-text/twitter-text.js"></script>-->
    <script src="/Scripts/xpdf/app.js"></script>
</body>
</html>
