
@{
    ViewBag.Title = "PdfViewer";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>'Hello, world!' example</title>
</head>
<body>

    <script src="~/Scripts/pdf.js/build/pdf.js"></script>

    <h1>PDF.js 'Hello, world!' example</h1>

    <canvas id="the-canvas"></canvas>

</body>
</html>