
@{
    ViewBag.Title = "ViewPdf";
    Layout = null;
}

<h2>ViewPdf</h2>

<div class="PDF">
    <object data="/doc/mgn/test.pdf" type="application/pdf" width="750" height="600">
        
    </object>
</div>
