
@{
    Layout = null;
}

<h3>Company List</h3>

<div style="border-bottom:dotted;border-bottom-width:1px;"></div>
<div ng-repeat="x in companySetting.companies">
    <table class="style-table table-hover" style="font-size:medium;">
        <tr style="border-bottom:dotted;border-bottom-width:1px;">
            <td class="style-foto" rowspan="2" style="padding:10px">
                <i alt="" class="icon-library2" width="50" height="50" style="border-radius: 50%; cursor:pointer;" ng-click="showIdentityImage(x.User)" />
            </td>
            <td class="style-name" style="padding:10px; min-width:300px">
                <span style="color:black;"><b>{{x.Name}}</b></span><br/>
                <span style="font-size:x-small"> </span>

                <!--Remark-->
                <div style="font-size:x-small">
                    <span> Owner : {{x.OwnerName}}</span>
                    <br />
                    <span ng-show="x.Role == 'Administrator'"> You are Administrator</span>
                </div>

            </td>
            <td class="style-status push-left" rowspan="2" style="padding:10px">
                <button class="btn btn-drd-1-bordered pull-right" ng-click="deleteCompany(x.Id)">
                    Delete
                </button>
                <button class="btn btn-drd-1 pull-right"  ng-show="x.Status" ng-click="acceptCompany(x.Id)">
                    Confirm
                </button>
            </td>
        </tr>

    </table>
</div>

<div ng-show="companySetting.companies.length<1">
    <table class="style-table table-hover" style="font-size:medium;">
        <tr >
            <td style="text-align:center;padding-top:20px"> You are not a member of any company
            </td>
        </tr>

    </table>
</div>