@model DRD.Domain.JsonLayout
@{

}

@*<link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/header-user-dropdown.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>

    <script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/app.js" type="text/javascript"></script>
    <script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>
*@

<script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
<script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.5.5/angular.js"></script>
<script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>

<style>
    .text-right {
        text-align: right;
    }
</style>

<body @*ng-app="drdApp"*@>

    <!-- Page container -->
    <div class="page-container" ng-controller="drdController">
        <!-- Page content -->
        <div class="page-content">


            <!-- Main content -->
            <div class="content-wrapper" style="display:none">
                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="col-lg-8">
                            <div class="page-title" style="padding:unset">
                                <h4><i class="icon-wallet position-left"></i>My DRD Point Transaction</h4>
                                <h3 style="color:royalblue"><span style="font-size:small">DRD Point: </span><b>{{balance | number}}</b></h3>


                            </div>
                        </div>
                        <div class="col-lg-4" style="padding-right:0px">
                            <button class="btn btn-float btn-float-lg pull-right" type="button" ng-click="topup();">
                                @*<i class="icon-cash3"></i>*@
                                @*<img src="~/Images/gasgauge-red.png" width="64" />*@
                                Buy DRD Point
                            </button>

                        </div>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->

                <div class="content">
                    <!-- Contextual classes -->

                    <div class="row">

                        <div class="col-md-6">
                            <br />
                            <button id="my-button" class="btn btn-default btn-ladda btn-process" type="button" data-style="slide-down" data-spinner-color="#333" ng-click="getLiteProducts(kriteria, page, row)" style="width:120px">
                                <span class="ladda-label">Process</span><span class="ladda-spinner"></span>
                                <div class="ladda-progress" style="width: 0px;"></div>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <br />
                            <div class="pull-right">
                                <select ng-model="page" class="form-control" ng-change="changePage(kriteria, page, row)">
                                    <option value="{{x.value}}" ng-repeat="x in paging">{{x.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="height:10px"></div>
                    <!-- LIST -->
                    <div calss="row">


                        <div class="panel panel-flat">

                            <div class="table-responsive" ng-show="isView">

                                <table class="table-xs table-bordered table-striped" style="font-size:small;width:100%">
                                    <thead>
                                        <tr>
                                            <th width="25px">#</th>
                                            <th width="125px">Date</th>
                                            <th>Number</th>
                                            <th>Description</th>
                                            <th width="25px">Code</th>
                                            <th width="150px" class="text-right">Debet</th>
                                            <th width="150px" class="text-right">Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in products" style="vertical-align:top">
                                            <td width="25px">{{$index+1 + index}}</td>
                                            <td>{{convertJsonDate(x.TrxDate) | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{x.TrxNo}}</td>
                                            <td>{{x.Descr}}</td>
                                            <td>{{x.TrxType}}</td>
                                            <td class="text-right"><span>{{toNumber((x.DbCr==0?x.Amount:0))}}</span></td>
                                            <td class="text-right"><span>{{toNumber((x.DbCr==1?x.Amount:0))}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /LIST -->

                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->

    <script type="text/javascript">


        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap']) //, 'ui.select2'])

        myApp.controller("drdController", function ($scope, $location, $http, $filter) {
            $scope.product = {};
            $scope.products = [];
            $scope.productCount = [];
            $scope.paging = [];
            $scope.kriteria = "";
            $scope.page = 1;
            $scope.row = 20;
            $scope.currPage = 0;
            $scope.isView = false;
            $scope.index = 0;

            $scope.balance=0;
            initValues();
            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {

                //$scope.GetPartners();
                $(".content-wrapper").show();
            });
            function initValues() {
                $scope.balance = @Html.Raw(Json.Encode(Model.obj));
            }

            $scope.topup = function () {
                location.href='/topupdeposit/topuplist';
            }
            /*--------------------------------------------------------------
            GET PRODUCT
            --------------------------------------------------------------*/
            $scope.getLiteProducts = function (kriteria, page, row) {
                var btn = Ladda.create(document.querySelector('.btn-process'));
                btn.start();
                $scope.products = [];
                $http.post('@Url.Action("GetById", "MemberDepositTrx")', { page: page, pageSize: row }).then(function (response) {
                    btn.stop();
                    if (response.data) {
                        $scope.products = response.data;

                        $scope.index = row * (page - 1);

                        $scope.paging = [];
                        $scope.getProductCount(kriteria);

                        $scope.isView = true;

                        //Ladda.stopAll();

                    }
                }, function (response) {
                    btn.stop();
                    //error handle\
                    var x = 0;
                });
            }

            $scope.changePage = function (kriteria, page, row) {
                $scope.products = [];
                $http.post('@Url.Action("GetById", "MemberDepositTrx")', { page: page, pageSize: row }).then(function (response) {
                    if (response.data) {
                        $scope.products = response.data;
                        $scope.index = row * (page - 1);


                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.getProductCount = function (kriteria) {
                $http.post('@Url.Action("GetByIdCount", "MemberDepositTrx")', {  }).then(function (response) {
                    if (response.data) {

                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.row);
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.paging.push({ value: i, text: i });
                        }

                        $scope.page = "1";

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            /*--------------------------------------------------------------
            GENERAL FUNCTION
            --------------------------------------------------------------*/
            $scope.toNumber = function (val) {
                if (val==0)
                    return '';
                else
                    return $filter('number')(val);
            }

            /*--------------------------------------------------------------
            CONVERT JSON DATE
            --------------------------------------------------------------*/
            $scope.convertJsonDate = function (val) {
                if (val == undefined)
                    return '';
                return new Date(parseInt(val.substr(6)));
            }

        });

        $(function () {

        });

        $(document).ready(function () {

        });

    </script>

</body>