@model DRD.Models.View.Layout
@{
    ViewBag.Title = "Manage Members";
    ViewBag.Submenu = "COMPANY";

}

@section Scripts
{
    <script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
    <script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>

    <script src="/assets/vendors/angular-1.5.5/angular.js"></script>
    <script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>
}
@section Styles{
    <link href="/assets/css/pages/company-member.css" rel="stylesheet" type="text/css">
}


<body>

    <div class="section-title">
        <h4>Manage Members</h4>
    </div>
    <!-- CONTACT-LIST SECTION -->
    <section class="panel" id="contact-list">
        <!-- Page container -->



        <div class="page-container invitation-list" ng-controller="drdController">
            <!-- Page content -->

            <div class="panel-default page-content">

                <!-- Main content -->
                <div class="content-wrapper">
                    <!-- Page header -->
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4><i class="icon-users2 position-left"></i>@ViewBag.Company </h4>
                                <br />

                                <div class="row">

                                    <div class="col-lg-6">

                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-search4"></i></span>
                                            <input type="text" class="form-control btn-process" ng-model="kriteria" placeholder="Find members" ng-keyup="$event.keyCode == 13 && getAcceptedMember(kriteria, page, row)">

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- /page header -->
                    <!-- Content area -->
                    <div class="content" style="display:none">
                        <div class="manage-member-header">
                            <div class="row content-align-right">
                                <div class="col-lg-2">
                                    <p class="clickable">
                                        <a>ALL</a>
                                    </p>
                                </div>
                                <div class="col-lg-2">
                                    <p>Selected (19)</p>
                                </div>
                            </div>
                        </div>

                        <div class="manage-member overflow-auto">
                            <!-- LIST -->
                            <div calss="row">
                                <div ng-repeat="x in acceptedMembers" class="col-lg-4 col-md-4 col-xs-6">
                                    <div class="row member-container">
                                        <div class="col-sm-1">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-lg-3">
                                            <img class="avatar" ng-src="/Images/Member/{{x.User.ImageProfile}}" />

                                        </div>
                                        <div class="col-sm-8 col-lg-8 no-overflow">
                                            <strong class="ellipsis">{{x.User.Name}}</strong>
                                            <div>{{x.User.Email}}</div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- /LIST -->
                        </div>


                    </div>
                    <!-- /content area -->
                    @*INVITE BY EMAIL*@
                    <div class="content invite-email">
                        <strong>Invite via Email</strong>
                        <div class="row">
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                            <div class="col-sm-2">

                                <button class="btn bg-slate-700 btn-ladda btn-submit" data-style="slide-down" data-spinner-color="#333" ng-click="updateProduct()">
                                    <span class="ladda-label">Invite</span><span class="ladda-spinner"></span>

                                </button>

                            </div>
                        </div>
                    </div>
                    @*INVITE BY EMAIL*@

                    <!-- Content area -->
                    <div class="content" style="display:none">
                        <!-- Contextual classes -->
                        <div class="request-join overflow-auto">
                            @*JOIN BY REQUEST*@
                            <div class="">
                                <!-- LIST -->
                                <div calss="row">
                                    <div ng-repeat="x in waitingMembers" class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="row member-container">
                                            <div class="col-sm-2 col-lg-2">
                                                <img class="avatar" ng-src="/Images/Member/{{x.User.ImageProfile}}" />

                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-overflow">
                                                <strong class="ellipsis">{{x.User.Name}}</strong>
                                                <div>{{x.User.Email}}</div>
                                            </div>

                                            <div class="col-sm-4 col-lg-4">
                                                <div class="input-group-btn container">
                                                    <div class="row pull-right">
                                                        <span class="image-container-sm green-border">
                                                            <img src="~/Images/icon/accept.png" ng-click="updateProduct()" />
                                                        </span>

                                                        <span class="image-container-sm red-border">
                                                            <img src="~/Images/icon/reject.png" ng-click="updateProduct()" />
                                                        </span>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <!-- /LIST -->

                            </div>
                            @*JOIN BY REQUEST*@
                        </div>

                    </div>
                    <!-- /content area -->
                </div>
                <!-- /main content -->
            </div>
            <!-- /page content -->
        </div>
        <!-- /page container -->


    </section>



    <script type="text/javascript">


        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap']) //, 'ui.select2'])

        myApp.controller("drdController", function ($scope, $location, $http, $filter) {
            $scope.product = {};
            $scope.members = [];
            $scope.productCount = [];
            $scope.paging = [];
            $scope.kriteria = "";
            $scope.page = 1;
            $scope.row = 20;
            $scope.currPage = 0;
            $scope.isView = false;
            $scope.index = 0;
            $scope.companyId = 0;

            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
                $(".content").show();
                $scope.companyId = $scope.getUrlVars()["id"];
                $scope.getWaitingMember($scope.companyId);
                $scope.getAcceptedMember($scope.companyId);
            });


            $scope.getUrlVars = function () {
                var vars = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                    vars[key] = value;
                });
                return vars;
            }
            /*--------------------------------------------------------------
            GET PRODUCT
            --------------------------------------------------------------*/
            $scope.getAcceptedMember = function (id) {
            $scope.acceptedMembers = [];
                $http.post('@Url.Action("GetAcceptedMember", "Member")', { companyId: id })
                    .then(function (response) {
                        if (response.data) {
                            $scope.acceptedMembers = response.data.members;

                        console.log("MEMBERS ::  " + $scope.acceptedMembers );
                    }
                });
            }

            $scope.getWaitingMember = function (id) {
            $scope.waitingMembers = [];
                $http.post('@Url.Action("GetWaitingMember", "Member")', { companyId: id })
                    .then(function (response) {
                    if (response.data) {
                        $scope.waitingMembers = response.data.members;
                        console.log("WAITING MEMBERS ::  " + $scope.waitingMembers);
                    }
                });
            }


            /*--------------------------------------------------------------
            GENERAL FUNCTION
            --------------------------------------------------------------*/
            $scope.addMember = function (mid) {
                location.href = "/invitation/invitation?mid=" + mid;
            }

            /*--------------------------------------------------------------
            CONVERT JSON DATE
            --------------------------------------------------------------*/
            $scope.convertJsonDate = function (val) {
                if (val == undefined)
                    return '';
                return new Date(parseInt(val.substr(6)));
            }

        });

        $(function () {

        });

        $(document).ready(function () {

        });

    </script>

</body>