@model DRD.Domain.JsonLayout

@*<link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/header-user-dropdown.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>

    <script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/app.js" type="text/javascript"></script>
    <script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>
*@

<script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
<script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.5.5/angular.js"></script>
<script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>



<!-- Theme JS files -->
<script type="text/javascript" src="assets/js/plugins/visualization/echarts/echarts.js"></script>
<script type="text/javascript" src="assets/js/charts/echarts/columns_waterfalls.js"></script>
<script type="text/javascript" src="assets/js/charts/echarts/timeline_option.js"></script>
<script type="text/javascript" src="assets/js/charts/echarts/combinations.js"></script>
<!-- /theme JS files -->
<!-- Theme JS files -->
<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
@*<script type="text/javascript" src="assets/js/core/app.js"></script>*@
@*<script type="text/javascript" src="assets/js/charts/d3/other/treemap.js"></script>
    <script type="text/javascript" src="assets/js/charts/d3/other/bubbles.js"></script>*@
<script type="text/javascript" src="assets/js/charts/d3/other/streamgraph.js"></script>
@*<script type="text/javascript" src="assets/js/charts/d3/other/waterfall.js"></script>*@
<!-- /theme JS files -->


<body @*ng-app="drdApp"*@>

    <!-- Page container -->
    <div class="page-container" ng-controller="drdController">
        <!-- Page content -->
        <div class="page-content">


            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                @*<div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4>Dashboard</h4>
                            </div>
                        </div>
                    </div>*@

                <!-- /page header -->
                <!-- Content area -->

                <div class="content" id="content" style="display:none;">
                    <!-- LIST -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-lg-2">
                                <div class="panel bg-slate-800">
                                    <div class="panel-body">
                                        <h3 class="no-margin">{{counter.Inbox}}</h3>
                                        Inbox
                                    </div>
                                    <div class="container-fluid">
                                        <div id="members-online"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel bg-slate-600">
                                    <div class="panel-body">
                                        <h3 class="no-margin">{{counter.InProgress}}</h3>
                                        In Progress
                                    </div>
                                    <div class="container-fluid">
                                        <div id="members-online"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel bg-danger-600">
                                    <div class="panel-body">
                                        <h3 class="no-margin">{{counter.Declined}}</h3>
                                        Declined
                                    </div>
                                    <div class="container-fluid">
                                        <div id="members-online"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel bg-success-600 ">
                                    <div class="panel-body">
                                        <h3 class="no-margin">{{counter.Completed}}</h3>
                                        Completed
                                    </div>
                                    <div class="container-fluid">
                                        <div id="members-online"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel">
                                    <div class="panel-body">
                                        <h3 class="no-margin">{{counter.Pending}}</h3>
                                        Pending
                                    </div>
                                    <div class="container-fluid">
                                        <div id="members-online"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="panel">
                                    <div class="panel-body">
                                        <h3 class="no-margin">{{counter.Altered}}</h3>
                                        Altered
                                    </div>
                                    <div class="container-fluid">
                                        <div id="members-online"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>


                    <!-- Member -->
                    @*<div class="row">
                        <div class="col-md-12">
                            <!-- Dynamic data -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Dynamic data</h5>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                                <li><a data-action="reload"></a></li>
                                            <li><a data-action="close"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="chart-container">
                                        <div class="chart has-fixed-height" id="candlestick_scatter" style="height: 500px;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /dynamic data -->
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Streamgraph chart -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Streamgraph chart</h5>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                                <li><a data-action="reload"></a></li>
                                            <li><a data-action="close"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p class="content-group">Example of <code>streamgraph</code> chart with data tooltip. Streamgraphs are a generalization of stacked area graphs where the baseline is free. By shifting the baseline, it is possible to minimize the change in slope (or “wiggle”) in individual series, thereby making it easier to perceive the thickness of any given layer across the data. Hover on area to see the tooltip with data on the top left corner.</p>
                                    <div class="chart-container">
                                        <div class="chart" id="d3-streamgraph"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /streamgraph chart -->
                        </div>

                    </div>*@
                    
                    <!-- /Simpanan -->
                    <!-- /LIST -->

                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->

    <script type="text/javascript">


        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap']) //, 'ui.select2'])

        myApp.controller("drdController", function ($scope, $location, $http, $filter) {
            $scope.product = {};
            $scope.products = [];
            $scope.productCount = [];
            $scope.paging = [];
            $scope.kriteria = "";
            $scope.page = 1;
            $scope.row = 20;
            $scope.currPage = 0;
            $scope.isView = false;
            $scope.index = 0;


            $scope.dashboard = {};

            $scope.$on("$destroy", function (event) {
                    clearInterval(xtimer);
                }
            );

            $scope.counter = { Inbox: 0, InProgress: 0, Pending: 0, Declined:0, Completed:0, Pending:0, Altered:0 };
            $scope.notiftime = 5000;
            $scope.xtimer = 0;

            $scope.startCounting = function () {
                $scope.xtimer = setInterval(() => {
                    $scope.getActivityCounter();
                }, 5000);

            };

            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
                $scope.startCounting();
                $scope.getActivityCounter();
                $("#content").show();
            });

            $scope.getActivityCounter = function () {
                $scope.products = [];
                $http.post('@Url.Action("GetActivityCounter", "Dashboard")', {}).then(function (response) {
                    if (response.data) {
                        $scope.counter = response.data.New;
                    }
                    else {
                        
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.resetCounter = function () {
                $scope.counter.Rotation = 0;
                $scope.counter.Inbox = 0;
                $scope.counter.Altered = 0;
                $scope.counter.Revised = 0;
                $scope.counter.InProgress = 0;
                $scope.counter.Pending = 0;
                $scope.counter.Signed = 0;
                $scope.counter.Declined = 0;
                $scope.counter.Completed = 0;
            }

            /*--------------------------------------------------------------
            CONVERT JSON DATE
            --------------------------------------------------------------*/
            $scope.convertJsonDate = function (val) {
                if (val == undefined)
                    return '';
                return new Date(parseInt(val.substr(6)));
            }

        });

        $(function () {

        });

        // Chart setup
        function generateBarChart(element, barQty, height, animate, easing, duration, delay, color, tooltip) {


            // Basic setup
            // ------------------------------

            // Add data set
            var bardata = [];
            for (var i = 0; i < barQty; i++) {
                bardata.push(Math.round(Math.random() * 10) + 10)
            }

            // Main variables
            var d3Container = d3.select(element),
                width = d3Container.node().getBoundingClientRect().width;



            // Construct scales
            // ------------------------------

            // Horizontal
            var x = d3.scale.ordinal()
                .rangeBands([0, width], 0.3)

            // Vertical
            var y = d3.scale.linear()
                .range([0, height]);



            // Set input domains
            // ------------------------------

            // Horizontal
            x.domain(d3.range(0, bardata.length))

            // Vertical
            y.domain([0, d3.max(bardata)])



            // Create chart
            // ------------------------------

            // Add svg element
            var container = d3Container.append('svg');

            // Add SVG group
            var svg = container
                .attr('width', width)
                .attr('height', height)
                .append('g');



            //
            // Append chart elements
            //

            // Bars
            var bars = svg.selectAll('rect')
                .data(bardata)
                .enter()
                .append('rect')
                    .attr('class', 'd3-random-bars')
                    .attr('width', x.rangeBand())
                    .attr('x', function (d, i) {
                        return x(i);
                    })
                    .style('fill', color);



            // Tooltip
            // ------------------------------

            var tip = d3.tip()
                .attr('class', 'd3-tip')
                .offset([-10, 0]);

            // Show and hide
            if (tooltip == "hours" || tooltip == "goal" || tooltip == "members") {
                bars.call(tip)
                    .on('mouseover', tip.show)
                    .on('mouseout', tip.hide);
            }

            // Daily meetings tooltip content
            if (tooltip == "hours") {
                tip.html(function (d, i) {
                    return "<div class='text-center'>" +
                            "<h6 class='no-margin'>" + d + "</h6>" +
                            "<span class='text-size-small'>meetings</span>" +
                            "<div class='text-size-small'>" + i + ":00" + "</div>" +
                        "</div>"
                });
            }

            // Statements tooltip content
            if (tooltip == "goal") {
                tip.html(function (d, i) {
                    return "<div class='text-center'>" +
                            "<h6 class='no-margin'>" + d + "</h6>" +
                            "<span class='text-size-small'>statements</span>" +
                            "<div class='text-size-small'>" + i + ":00" + "</div>" +
                        "</div>"
                });
            }

            // Online members tooltip content
            if (tooltip == "members") {
                tip.html(function (d, i) {
                    return "<div class='text-center'>" +
                            "<h6 class='no-margin'>" + d + "0" + "</h6>" +
                            "<span class='text-size-small'>members</span>" +
                            "<div class='text-size-small'>" + i + ":00" + "</div>" +
                        "</div>"
                });
            }



            // Bar loading animation
            // ------------------------------

            // Choose between animated or static
            if (animate) {
                withAnimation();
            } else {
                withoutAnimation();
            }

            // Animate on load
            function withAnimation() {
                bars
                    .attr('height', 0)
                    .attr('y', height)
                    .transition()
                        .attr('height', function (d) {
                            return y(d);
                        })
                        .attr('y', function (d) {
                            return height - y(d);
                        })
                        .delay(function (d, i) {
                            return i * delay;
                        })
                        .duration(duration)
                        .ease(easing);
            }

            // Load without animateion
            function withoutAnimation() {
                bars
                    .attr('height', function (d) {
                        return y(d);
                    })
                    .attr('y', function (d) {
                        return height - y(d);
                    })
            }



            // Resize chart
            // ------------------------------

            // Call function on window resize
            $(window).on('resize', barsResize);

            // Call function on sidebar width change
            $(document).on('click', '.sidebar-control', barsResize);

            // Resize function
            //
            // Since D3 doesn't support SVG resize by default,
            // we need to manually specify parts of the graph that need to
            // be updated on window resize
            function barsResize() {

                // Layout variables
                width = d3Container.node().getBoundingClientRect().width;


                // Layout
                // -------------------------

                // Main svg width
                container.attr("width", width);

                // Width of appended group
                svg.attr("width", width);

                // Horizontal range
                x.rangeBands([0, width], 0.3);


                // Chart elements
                // -------------------------

                // Bars
                svg.selectAll('.d3-random-bars')
                    .attr('width', x.rangeBand())
                    .attr('x', function (d, i) {
                        return x(i);
                    });
            }
        }

        //generateBarChart("#hours-available-bars", 24, 40, true, "elastic", 1200, 50, "#EC407A", "hours");
        //generateBarChart("#goal-bars", 24, 40, true, "elastic", 1200, 50, "#5C6BC0", "goal");
        //generateBarChart("#members-online", 24, 50, true, "elastic", 1200, 50, "rgba(255,255,255,0.5)", "members");

        $(document).ready(function () {


        });

    </script>

</body>