@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="/Images/logo-color-background.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DRD - Log in</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <!-- /theme JS files -->

    <script src="/assets/vendors/angular-1.5.5/angular.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>

    <script src="~/Scripts/xpublic.js"></script>
    <style>
        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }

        .bg-dark-blue {
            background-color: #363636;
        }
    </style>
</head>
<body class="login-container" style="background: url('https://c.pxhere.com/photos/19/a5/office_phone_coffee_table_laptop_from_home_work_mobile_phone-546969.jpg!d')  no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;" ng-app="drdApp">
    <div ng-controller="drdController">
        <!-- Page container -->
                        
        <div class="page-container">
            <!-- Page content -->
            <div class="page-content">
                <!-- Main content -->
                <div class="content-wrapper">

                    <!-- Content area -->
                    <div class="content">
                        <!-- Simple login form -->
                        <form name="myForm" class="form-horizontal" autocomplete="off">
                            <div class="panel panel-body login-form" style="padding:0px">
                                <div class="text-center" ">
                                    <img src="/Images/login_banner.png" width="100%" /><br /><br />
                                    <img  ng-show="load" style="left: 50%;top: 50%;width:100px; height:100px;" src="~/assets/spinner.gif">
                                    <h5 class="content-group">{{load? 'Logging in' : 'Login' }} to your DRD account <small ng-show="!load" class="display-block">Enter your credentials below</small></h5>
                                </div>
                                <div style="padding-left:40px;padding-right:40px">
                                    <div ng-show="!load" class="form-group">
                                        <input type="text" class="form-control" placeholder="Email" ng-model="username" required>
                                    </div>
                                    <div ng-show="!load" class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" ng-model="password" id="xpwd" required>
                                        <span ng-if="!isPasswordShown"
                                              ng-click="showPwd()"
                                              class="icon-eye-blocked2 form-control-feedback pull-right"
                                              style="cursor: pointer; pointer-events: all;left:85%;color:grey">
                                        </span>
                                        <span ng-if="isPasswordShown"
                                              ng-click="showPwd()"
                                              class="icon-eye2 form-control-feedback pull-right"
                                              style="cursor: pointer; pointer-events: all;left:85%;color:grey">
                                        </span>
                                    </div>
                                    <div ng-show="!load" class="form-group">
                                        <button class="btn btn-flat" style="background-color:#075685; color:white; width:100%;height:50px" ng-click="submit()">
                                           Log in
                                        </button>
                                    </div>
                                    <table ng-show="!load" style="width:100%;font-size:10px">
                                        <tr>
                                            <td style="">
                                                <a style="text-decoration:none;color:black" href="/Register">Register</a>
                                            </td>
                                            <td style="text-align:right">
                                                <a style="text-decoration:none;color:black" href="/login/forgotpassword">Forgot password?</a>
                                            </td>
                                        </tr>
                                    </table>


                                    <br />

                                </div>

                            </div>
                        </form>
                        <!-- /simple login form -->
                        
                    </div>
                    <!-- /content area -->
                </div>
                <!-- /main content -->
            </div>
            <!-- /page content -->
        </div>
        <!-- /page container -->
    </div>
    <script type="text/javascript">


        var myApp = angular.module('drdApp', ['ui.bootstrap'])

        myApp.controller("drdController", function ($scope, $location, $http, $filter) {

            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
                $(".styled, .multiselect-container input").uniform({
                    radioClass: 'choice'
                });
                $scope.load = false;
                $scope.isPasswordShown = false;
            });

            $scope.initData = function () {
            }

            $scope.showPwd = function () {
                var x = document.getElementById("xpwd");
                if (x.type === "password") {
                    x.type = "text";
                    $scope.isPasswordShown = true;
                } else {
                    x.type = "password";
                    $scope.isPasswordShown = false;
                }
            }

            $scope.popupTnC = function () {
                $("#modal_tnc").modal("show");
            }

            $scope.goRegistry = function () {
                location.href = "/subscription/registry";
            }

            /*--------------------------------------------------------------
            GET VALID USER
            --------------------------------------------------------------*/
            $scope.isValidForm = function (theForm) {
                var isvalid = theForm.$valid;
                return isvalid;
            };

            $scope.submit = function () {
                if (!$scope.isValidForm($scope.myForm))
                    return;
                $scope.load = true;
                $http.post('@Url.Action("Login", "Login")', {
                    username: $scope.username,
                    password: $scope.password
                }).then(function (response) {
                    if (response.data) {
                        if (response.data == -1) {
                            $scope.load = false;
                            showInfo('Invalid username and password!');
                        }
                        else if (response.data == 1) {
                            $scope.load = false;
                            window.location = "/";
                        }
                        else if (response.data == 2) {
                            $scope.load = false;
                            window.location = "/appzone/appzonelist";
                        }
                    }
                }, function (response) {
                    $scope.load = false;
                    //error handle\
                    var x = 0;
                });
            }
        });


    </script>
</body>

</html>