@{
    Layout = null;
}



<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>leader-line Basic Demo</title>
    <script src="/Scripts/flow/svg-path/leader-line.min.js"></script>
    <script src="/Scripts/flow/svg-path/anim-event.min.js"></script>
    <script src="/Scripts/flow/svg-path/in-view.min.js"></script>
    <style>
        .anchor, .anchor40, .anchor60, .anchor80-line, .anchor100-line, .anchor-text {
            position: absolute;
            background-color: #9ee7ea;
            box-sizing: border-box;
            padding: 5px 0;
            font-size: 24px;
            line-height: 1;
            text-align: center;
        }

        .anchor40 {
            width: 40px;
            height: 40px;
        }

        .anchor60 {
            width: 60px;
            height: 60px;
        }

        .anchor80-line {
            width: 80px;
        }

        .anchor100-line {
            width: 100px;
        }

        .anchor-text {
            font-size: 18px;
        }

        .stage {
            position: relative;
            margin-bottom: 1em;
        }

        .text-fill {
            height: 100%;
            overflow: hidden;
            line-height: 1.1;
            word-break: break-all;
        }

        .stage, .col, .leader-line {
            font-family: Arial, sans-serif;
        }

        #ex-020-frame {
            position: absolute;
            left: 620px;
            top: 80px;
            width: 160px;
            height: 310px;
            border: 1px solid #ccc;
            overflow-y: scroll;
        }

            #ex-020-frame > div {
                width: 100%;
                height: 555px;
                background-color: #f0f0f0;
            }

            #ex-020-frame p {
                margin: 0;
            }

        body {
            background-color: #fafafa;
        }

        .container {
            margin: 150px auto;
            max-width: 968px;
        }
    </style>
    <link href="https://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="css-script-menu">
        <div class="css-script-center">
            <ul>
                <li><a href="https://www.cssscript.com/draw-svg-paths-two-elements-leader-line/">Download</a></li>
                <li><a href="https://www.cssscript.com/">Back To CSS Script</a></li>
            </ul>
            <div class="css-script-ads">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- CSSScript Demo Page -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-2783044520727903"
                     data-ad-slot="3025259193"></ins>
                <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="css-script-clear"></div>
        </div>
    </div>
    <div class="container">
        <h1>leader-line Basic Demo</h1>
        <div id="ex-020" class="stage" style="width: 800px; height: 400px;">
            <div id="ex-020-a" class="anchor40" style="left: 80px; top: 120px;"></div>
            <div id="ex-020-b" class="anchor40" style="left: 360px; top: 0;"></div>
            <div id="ex-020-c" class="anchor40" style="left: 300px; top: 160px;"></div>
            <div id="ex-020-d" class="anchor40" style="left: 10px; top: 200px;"></div>
            <div id="ex-020-e" class="anchor40" style="left: 80px; top: 320px;"></div>
            <div id="ex-020-f" class="anchor40" style="left: 480px; top: 80px;"></div>
            <div id="ex-020-g" class="anchor40" style="left: 720px; top: 10px;"></div>
            <div id="ex-020-h" class="anchor40" style="left: 510px; top: 300px;"></div>
            <div id="ex-020-frame">
                <div>
                    <p style="padding: 5px; text-align: center;">Scroll this</p>
                    <div id="ex-020-i" class="anchor40" style="left: 70px; top: 250px;"></div>
                </div>
            </div>
            <div id="ex-020-j" class="anchor40" style="left: 10px; top: 30px; width: auto; height: auto; font-size: 20px">Move mouse here</div>
        </div>
    </div>
    <script>
window.addEventListener('load', function() {
  'use strict';

  new LeaderLine(
    document.getElementById('ex-020-a'),
    document.getElementById('ex-020-b'),
    {
      color: '#ef1e28',
      startPlug: 'square',
      endPlug: 'arrow2',
      startPlugColor: '#43bc5b',
      endPlugColor: '#1085e0',
      startPlugSize: 1.5,
      endPlugSize: 1.5,
      dash: true,
      endLabel: LeaderLine.pathLabel('This is additional label')
    }
  );

  new LeaderLine(
    document.getElementById('ex-020-f'),
    document.getElementById('ex-020-g'),
    {
      size: 8,
      startPlugColor: '#ffff05',
      endPlugColor: '#0c7d1a',
      gradient: true
    }
  );

  new LeaderLine(
    document.getElementById('ex-020-c'),
    document.getElementById('ex-020-d'),
    {
      color: 'black',
      startPlug: 'disc',
      endPlug: 'hand',
      path: 'grid'
    }
  );

  new LeaderLine(
    document.getElementById('ex-020-h'),
    document.getElementById('ex-020-f'),
    {
      size: 6,
      outlineColor: '#1e71ef',
      outline: true,
      endPlugOutline: true,
      dash: true,
      path: 'arc',
      startSocket: 'left',
      endSocket: 'bottom'
    }
  );

  new LeaderLine(
    document.getElementById('ex-020-e'),
    document.getElementById('ex-020-c'),
    {
      color: '#ecf373',
      dropShadow: true,
      endSocket: 'bottom'
    }
  );

  var lineC = new LeaderLine(
    document.getElementById('ex-020-c'),
    document.getElementById('ex-020-b'),
    {
      path: 'straight'
      // dash: {animation: true}
    }
  );
  inView('#ex-020')
    .on('enter', function() { lineC.dash = {animation: true}; })
    .on('exit', function() { lineC.dash = false; });

  new LeaderLine(
    document.getElementById('ex-020-f'),
    document.getElementById('ex-020-c'),
    {
      startPlug: 'arrow1',
      startSocket: 'left',
      endSocket: 'right',
      startSocketGravity: [-140, -80],
      endSocketGravity: [220, 180]
    }
  );

  var lineH = new LeaderLine(
    document.getElementById('ex-020-h'),
    document.getElementById('ex-020-i')
  );
  document.getElementById('ex-020-frame').addEventListener('scroll', AnimEvent.add(function() {
    lineH.position();
  }), false);

  new LeaderLine(
    LeaderLine.mouseHoverAnchor(document.getElementById('ex-020-j'), 'draw', {style: {backgroundImage: null}}),
    document.getElementById('ex-020-h'),
    {color: 'rgba(255, 127, 80, 0.8)'}
  );

});
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46156385-1', 'cssscript.com');
  ga('send', 'pageview');

    </script>

</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0805'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
</html>
