.input-container {
    width:70%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
}
.input-container input {
    border: none;
    padding-right:40px;
}
.input-container .eye-container {
    cursor: pointer;
    pointer-events: all;
    color: #808080;
}