.center-text {
    text-align: center;
}

.box-rounded {
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.panel {
    border: none;
}

.panel-heading {
    /*make'em transparent, cause of panel in panel thing*/
    background-color: #f5f5f5 !important;
}

.highlight-container {
    /*same as hightlight-container in invitation-list*/
    background-color: #f5f5f5;
    padding: 0;
    /*width: inherit;*/
}

    .highlight-container .container {
        width: inherit;
    }

.highlight-card {
    background-color: white;
    margin: inherit 10px;
    padding: 10px;
}

.highlight-header {
    border-bottom: solid 1px #e9ebf0;
    margin-bottom: 10px;
}

    .highlight-header select {
        border: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }

select {
    width: auto !important;
    max-width: 100px;
}

.select-lg {
    max-width: 320px;
}

.push-left {
    margin-left: auto !important;
}

    .push-left select {
        display: block;
        margin-left: auto;
    }

.text-align-right {
    text-align: right !important;
}

.highlight-card .card-title {
    /*similiar with medium-text class, font-size's different. Same as card-title in invitationList*/
    font-weight: 400;
    line-height: 1.25;
    font-size: 14px;
}

.highlight-card .sub-card-title {
    padding-left: 5px;
    font-weight: 400;
    color: #979494;
    font-size: 13px;
}

p.card-title, p.sub-card-title {
    margin: 0 !important;
}

.highlight-card .card-content {
    /*similiar with small-text class, font-size's different. Same as card-title in invitationList*/
    padding: 5px;
    font-weight: 300;
    color: grey;
    line-height: 1;
    font-size: 12px;
}

.highlight-card .card-filter {
    /*similiar with small-text class, font-size's different. Same as card-title in invitationList*/
    font-weight: 300;
    color: black;
    line-height: 1;
    font-size: 12px;
}

.highlight-card h1 {
    font-size: 96px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

..highlight-card .card-image-lg {
    height: 100%;
}


.round-img, .round-img img {
    border-radius: 50%; /* almost all image treated like this*/
}

.highlight-card .card-image-lg img {
    height: 80px;
    width: 80px;
}

.highlight-card .card-image img {
    max-height: 60px;
    max-width: 56px;
}

.highlight-card .card-image-xs img {
    height: 30px;
    width: 30px;
}

.card-content p {
    line-height: 1;
    margin-top: 5px;
}

/*
    container of vertical-align content wannabe
    use this for div with .row
*/
.vertical-align-row {
    display: flex;
    align-items: center;
}

.vertical-align-content {
    margin-top: auto;
    margin-bottom: auto;
}

.log-header {
    /* imitate col-md-* style */
    padding-left: 10px;
    padding-right: 10px;
}

    .log-header span:first-child {
        padding-right: 5px;
        margin-right: 5px;
    }

/* default text*/
p {
    font-weight: 400;
    font-size: 14px;
}

.text-light {
    font-weight: 300;
}

.log {
    margin-top: 30px;
}

    .log:last-child {
        margin-bottom: 30px;
    }

.tag-item {
    font-size: xx-small;
    border-radius: 10%;
    padding: 5px;
    margin: 3px;
    color: white;
    background-color: cornflowerblue;
    display: inline-block;
}

.image-container-sm {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px #888888;
    position: relative;
    padding-left: 5px;
    z-index: 9;
}

    .image-container-sm img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: auto;
        height: 200%;
    }

.red-border {
    border-color: #ff8799 !important;
}
.pagination a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 50%;
    font-size: 14px;
}

    .pagination a.active {
        font-weight: 700;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

.pagination-container {
    text-align: center;
}

p.pagination-info {
    margin-top: 10px;
    font-weight: 300;
    color: #8F8C8C;
    letter-spacing: 2px;
}

.image-container-sm:hover .tooltiptext {
    visibility: visible;
}
.image-container-sm .tooltiptext {
    visibility: hidden;
    width: 60px;
    font-size:9px;
    color: black;
    text-align: center;
    padding-left: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}