/* PAGINATION */
.pagination-container {
    text-align: center;
}
.pagination {
    padding-bottom: 20px;
    padding-top: 20px
}
.pagination a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 50%;
    font-size: 14px;
}
.pagination a.active {
    pointer-events: none; 
    font-weight: 700;
}
.pagination a.disable{
    font-weight:100;
    color:white;
    pointer-events: none; 
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
p.pagination-info {
    margin-top: 10px;
    font-weight: 300;
    color: #8F8C8C;
    letter-spacing: 2px;
}


/* TAGGING */
.tag-container {
    border: 1px solid darkgray;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.tag-container input{
    margin: 2px 0 2px 0;
    flex: 1 1 20px;
    border:none;
}

.tag-item {
    align-items: center;
    border-radius: 5px;
    color: white;
    flex: 0 1 auto;
    padding: 7px;
    margin: 2px 3px 2px 3px;
    background-color: #075685;
}
.tag-item:hover{
    cursor: pointer;
    background-color: #1470a7;
}
.tag-item i {
    margin:0 0 0 4px;
}