.sidebar-user-material .desktop_layout {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

navigation > li.divider {
    border-top: 1px groove orange;
    width: 90%;
    margin: auto;
}

.navbar-brand img {
    margin-top: -5px;
    height: 30px;
}

.icon-bubble9 {
    top: 3px;
}

.dropdown-toggle img {
    height: 18px;
}

.sidebar-user-material .category-content, .desktop_layout {
    height: 100px;
}

.sidebar-content i {
    top: 3px;
}

.category-content {
    display: none;
}
div.row.padding-bottom{
    padding-bottom: 20px;
}

div.col-md-12.padding-bottom{
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .content{
        padding:0px;
    }
    div.row{
        padding-left: 4px;
        padding-right: 4px;
    }
}

.btn-circle {
    padding: 0;
    border: none;
    background: none;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
    color: #075685;
}

.btn-circle:hover {
    color: white;
    background-color: #2287c3;
}

.btn {
    min-width: 75px;
}

.btn + .btn{
    margin-left:10px;
}

.btn-drd-1 {
    background-color:#075685; 
    color:white; 
}
.btn-drd-1:hover {
    background-color:#2287c3; 
    color:white; 
}

.btn-drd-1-bordered {
    -webkit-box-shadow: inset 0px 0px 0px 2px #075685;
    -moz-box-shadow: inset 0px 0px 0px 2px #075685;
    box-shadow: inset 0px 0px 0px 2px #075685;
    background-color: white;
    color: black;
}
.btn-drd-1-bordered:hover {
    background-color: #2287c3;
    
    color: white;
}

.btn-large {
    width:100px;height:50px;
}