.tag-container {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.tag-container input{
    margin: 2px 0 2px 0;
    flex: 1 1 20px;
    border:none;
}

.tag-item {
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    flex: 0 1 auto;
    padding: 7px;
    margin: 2px 3px 2px 3px;
    background-color: cornflowerblue;
}
.tag-item i {
    margin:0 0 0 4px;
}