@model DRD.Models.View.Layout
@{
    ViewBag.Title = "Inbox";
    ViewBag.Submenu = "INBOX";
}
@section Scripts
{
    <script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>
}
@section Styles
{
    <link href="~/assets/css/pages/inbox-list.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/pages/for-all-page.css" rel="stylesheet" type="text/css">
}

<body>

    <h4><a class="btn" href="/inbox/list" style="border-radius:15px;text-align:center;padding:5px;margin-left:20px;font-weight:800;background-color:#5D90AE;color:white;"><i class="icon-envelope"></i></a> @ViewBag.Title</h4>
    <!-- Page container -->
    <section ng-controller="drdController">
        <!-- Content area -->
        <div class="row">
            <div class="col-sm-12 col-md-4" style="margin-bottom:20px">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="criteria" placeholder="Search" style="height:50px" ng-keyup="$event.keyCode ==  13 && getInboxes(criteria, page, totalItemPerPage)">
                    <span class="input-group-btn">
                        <button id="my-button" class="btn btn-default btn-ladda btn-process" type="button" data-style="slide-down" data-spinner-color="#333" ng-click="getInboxes(criteria, page, totalItemPerPage)" style="background-color:#075685; color:white; width:50px;height:50px">
                            <span class="ladda-label"><i class="icon-search4"></i></span><span class="ladda-spinner"></span>
                            <div class="ladda-progress" style="width: 0px;"></div>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div calss="totalItemPerPage">
            <div class="panel panel-flat">
                <div ng-show="!completeLoad" style="text-align:center;padding:50px;">
                    Loading Inbox Data
                </div>
                <div ng-show="!hasInbox && completeLoad" style="text-align:center;padding:50px;">
                    You don't have an inbox yet
                </div>
                <div class="table-responsive" ng-show="isView && hasInbox && completeLoad">
                    <table class="table-xxs table-hover datatable-highlight dataTable no-footer" style="font-size:small;width:100%">
                        <thead>
                            <tr style="background-color:white;">
                                <th width="200">Sender</th>
                                <th>Message</th>
                                <th>Rotation</th>
                                <th width="175px">Created</th>
                            </tr>
                        </thead>
                        <tbody style="width:95%">
                            <tr style="cursor:pointer;height:50px;width:90%;vertical-align:central;{{x.IsUnread ? 'font-weight:bold;' : 'font-weight:normal; background-color:#f3f3f9;'}}" ng-click="openInbox(x.Id);" ng-repeat="x in products">
                                <td width="200"><strong>{{x.PreviousUserName}}</strong> <small>({{x.PreviousUserEmail}})</small><br><span style="font-size:10px;text-align:right">{{x.CompanyInbox.Name}}</span></td>
                                <td><strong class="tag {{SetItemClass(x.LastStatus)}}">{{x.LastStatus}}</strong> {{x.Message}}</td>
                                <td>{{x.RotationName}}</td>
                                <td width="10%">{{getDateFormated(x.CreatedAt,1)}}</td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="hasInbox" class="pagination-container">
                    <div class="pagination">
                        <a class="{{page > 1?'':'disable'}}" data-toggle="tooltip" title="first page"
                           ng-click="page > 1 && changePageInbox(criteria, 1, totalItemPerPage)">&lt;&lt;</a>
                        <a class="{{page > 1?'':'disable'}}" data-toggle="tooltip" title="previous page"
                           ng-click="page > 1 && changePageInbox(criteria, page - 1, totalItemPerPage)">&lt;</a>
                        <a class="{{rot == page ? 'active':''}}" ng-repeat="rot in paging | limitTo : page+3>paging.length?paging.length:page+3 : page-4<0?0:page-4"
                           ng-click="changePageInbox(criteria, rot, totalItemPerPage)">
                            {{rot}}
                        </a>
                        <a class="{{page < paging.length?'':'disable'}}" data-toggle="tooltip" title="next page"
                           ng-click="page < paging.length && changePageInbox(criteria, page + 1, totalItemPerPage)">&gt;</a>
                        <a class="{{page < paging.length?'':'disable'}}" data-toggle="tooltip" title="last page"
                           ng-click="page < paging.length && changePageInbox(criteria, paging.length, totalItemPerPage)"> &gt; &gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap'])
        myApp.controller("drdController", function ($scope, $location, $http, $filter) {
            ////////////////////////////  INITIATE DATA  ////////////////////////////
            $scope.paging = [];
            $scope.criteria = "";
            $scope.page = 1;
            $scope.totalItemPerPage = 20;

            $scope.product = {};
            $scope.products = [];
            $scope.productCount = [];

            $scope.currPage = 0;
            $scope.isView = false;
            $scope.index = 0;

            $scope.hasInbox = false;
            $scope.completeLoad = false;

            angular.element(document).ready(function () {
                $scope.getInboxes($scope.criteria, $scope.page, $scope.totalItemPerPage);
                $(".content-wrapper").show();
            });

            $scope.openInbox = function (id) {
                location.href = "/inbox?id=" + id;
            }
            ////////////////////////////  GET INBOX DATA BASED ON CATEGORY  ////////////////////////////
            $scope.getInboxes = function (criteria, page, totalItemPerPage) {
                $http.post('@Url.Action("GetInboxes", "Inbox")', { criteria: criteria, page: page, totalItemPerPage: totalItemPerPage }).then(function (response) {
                    if (response.data) {
                        console.log(response.data);
                        $scope.products = response.data;
                        $scope.index = totalItemPerPage * (page - 1);
                        $scope.page = "1";
                        $scope.isView = true;
                        $scope.countInboxes(criteria);
                    }
                    $scope.hasInbox = $scope.products.length > 0;
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            $scope.countInboxes = function (criteria) {
                $http.post('@Url.Action("CountInboxes", "Inbox")', { criteria: criteria }).then(function (response) {
                    if (response.data) {
                        $scope.paging = [];
                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.totalItemPerPage);
                        $scope.hasInbox = jumlahData > 0;
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.paging.push(i);
                        }
                        $scope.page = "1";
                    }
                    $scope.completeLoad = true;
                }, function (response) {
                    //error handle\
                    var x = 0;
                    $scope.completeLoad = true;
                });
            }
            $scope.changePageInbox = function ( criteria, page, totalItemPerPage) {
                $http.post('@Url.Action("GetInboxes", "Inbox")', { criteria: criteria, page: page, pageSize: totalItemPerPage }).then(function (response) {
                    if (response.data) {
                        $scope.products = response.data;
                        $scope.index = totalItemPerPage * (page - 1);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            $scope.SetItemClass = function (status) {
                    if (status == "REJECT" || status == "REJECTED") {
                        return "danger";
                    } else if (status == "REVISION") {
                        return "warning";
                    } else if (status == "INFO") {
                        return "default";
                    }
                    return "info";
            }
        });
        $(function () { });
        $(document).ready(function () { });
    </script>

</body>