
@{
    Layout = null;
}

    <br />
<div style="border-bottom:dotted;border-bottom-width:1px;"></div>

<div ng-show="sumDocuments.length>0">
    <br />
    <h5>Document Summary</h5>
    <table class="table-xs table-striped table-hover" style="width:100%">

        <tbody>
            <tr ng-repeat="x in sumDocuments" style="vertical-align:top;font-size:small;cursor:pointer" ng-click="viewDocumentSummary(x)">

                <td class="push-left">
                    <img ng-src="/Images/FileType/{{x.Document.Extension}}.png" width="13" /> {{x.Document.FileName}}
                    <span style="font-size:small;color:white">
                        <span style="background-color:#5bc0de; padding:5px" ng-show="isCompleteRotation() && !validAction(x.ActionStatus,2) && !validAction(x.ActionStatus,64)">completed</span>
                        <span style="background-color:#bb2124; padding:5px;" ng-show="validAction(x.ActionStatus,64)">removed</span>
                        <span style="background-color:#f0ad4e; padding:5px;" ng-show="!validAction(x.ActionStatus,64) && validAction(x.ActionStatus,2)">revised</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.ActionStatus,64) && validAction(x.ActionStatus,1)">signed</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.ActionStatus,64) && validAction(x.ActionStatus,32)">stamped</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.ActionStatus,64) && validAction(x.ActionStatus,4)">viewed</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.ActionStatus,64) && validAction(x.ActionStatus,8)">printed</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.ActionStatus,64) && validAction(x.ActionStatus,16)">downloaded</span>
                    </span>
                    <br />
                    <br />
                    <span style="font-size:10px;margin-left:40px;color:#aaaaaa">Last updated at {{convertJsonDate(x.Document.UpdatedAt)}}</span>
                </td>
                <td width="125px" style="text-align:right">
                    {{humanFileSize(x.Document.FileSize,1024)}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="border-bottom:dotted;border-bottom-width:1px;"></div>