
@{
    Layout = null;
}

    <br />
<div style="border-bottom:dotted;border-bottom-width:1px;"></div>

<div ng-show="sumDocuments.length>0">
    <br />
    <h5>Document Summary</h5>
    <table class="table-xs table-striped table-hover" style="width:100%">

        <tbody>
            <tr ng-repeat="x in sumDocuments" style="vertical-align:top;font-size:small;cursor:pointer" ng-click="viewDocumentSummary(x)">
                
                <td>{{x.Document.FileName}} 
                    <span style="font-size:small;color:white">
                        <span style="background-color:#5bc0de; padding:5px" ng-show="isCompleteRotation() && !validAction(x.FlagAction,2) && !validAction(x.FlagAction,64)">completed</span>
                        <span style="background-color:#bb2124; padding:5px;" ng-show="validAction(x.FlagAction,64)">removed</span>
                        <span style="background-color:#f0ad4e; padding:5px;" ng-show="!validAction(x.FlagAction,64) && validAction(x.FlagAction,2)">revised</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.FlagAction,64) && validAction(x.FlagAction,1)">signed</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.FlagAction,64) && validAction(x.FlagAction,32)">stamped</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.FlagAction,64) && validAction(x.FlagAction,4)">viewed</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.FlagAction,64) && validAction(x.FlagAction,8)">printed</span>
                        <span style="background-color:#aaaaaa; padding:5px;" ng-show="!validAction(x.FlagAction,64) && validAction(x.FlagAction,16)">downloaded</span>
                    </span>
                </td>
                <td width="125px" style="text-align:right">{{humanFileSize(x.Document.FileSize,1024)}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="border-bottom:dotted;border-bottom-width:1px;"></div>