
@{
    Layout = null;
}

    <div id="modal_tnc" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <h2>Continue to register your Account?</h2>
                    <input class="styled" type="checkbox" name="terms-and-conditions" value="agree" ng-model="checked" ng-change="setAggreement(checked)"/>
                    <span><small>I have read the <a href="~/doc/tnc/tnc.htm" target="_blank">Terms and Agreement Policy</a>.</small></span>

                </div>
                <div class="modal-footer">
                    <button class="btn bg-slate-700" type="button" ng-click="updateProduct()" >yes, continue</button>
                </div>
            </div>
        </div>
    </div>

