
@{
    Layout = null;
}

<div id="modal_select_linkalter" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Define Link Alter</h6>
            </div>

            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-8">
                        <label class="control-label">Period</label><br />
                        <input id="linkalter-period" type="text" class="form-control" ng-model="linkalter.Period" maxlength="3" ng-only-number />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Alter Period</label>
                        <select id="linkalter-periodunit" class="form-control" ng-model="linkalter.PeriodUnit">
                            <option value="{{x.Descr}}" ng-repeat="x in periods">{{x.Descr}}</option>
                        </select>
                    </div>
                    
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="setLinkAlter();">Save changes</button>
            </div>

        </div>
    </div>
</div>

