
@{
    Layout = null;
}

<div id="modal_password" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title" style="text-align:center;font-size:18px;font-weight:500;">Password</h6>
            </div>

            <div class="modal-body">
                <div class="">
                    <label class="control-label">This document <strong>require your {{needPass == 33? 'Signature and Stamp' : needPass == 1? 'Signature': needPass == 32? 'Stamp':''}}</strong> to continue, if you agree to {{needPass == 33? 'Sign and Stamp' : needPass == 1? 'Sign': needPass == 32? 'Stamp':''}} this document, you need to confirm with your password</label>
                    <input type="password" class="form-control" id="thePassword" ng-model="thePassword" maxlength="50" value="" />
                    <span ng-show="passwordError" style="color:red">Invalid Password</span>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="triggerSubmitSwal(1);">Submit</button>
            </div>

        </div>
    </div>
</div>

