
@{
    Layout = null;
}

<div id="modal_select_business_subscription" class="modal fade" z-index="10000">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Select Subscription</h6>
            </div>

            <div style="height:450px" class="table-responsive">
                @*class="modal-body"*@
                <table class="table-xxs table-bordered table-hover datatable-highlight dataTable no-footer" style="font-size:small;width:100%">
                    <thead>
                        <tr>
                            <th width="25px">Number</th>
                            <th>Name</th>
                            <th>Total Administrator</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-dismiss="modal" ng-click="setSubscription($index);" style="cursor:pointer" ng-repeat="x in SubscriptionList" style="vertical-align:top">
                            <td width="25px">{{x.Id}}</td>
                            <td>{{x.Name}}</td>
                            <td>{{x.AdministratorQuota}}</td>
                            <td>{{x.Price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

