
@{
    Layout = null;
}

<div id="modal_select_membank" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Select Bank Account</h6>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="icon-search4"></i></span>
                <input type="text" ng-keyup="$event.keyCode == 13 && getLiteBanks(criteria, page, row)" class="form-control" ng-model="criteria" placeholder="Enter project name" />

                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="getLiteBanks(criteria, page, row)">Search</button>
                </span>

                <span class="input-group-btn" style="width:75px">
                    <select ng-model="page" class="form-control" ng-change="changePageBanks(criteria, page, row)">
                        <option value="{{x.value}}" ng-repeat="x in paging">{{x.text}}</option>
                    </select>
                </span>
            </div>

            <div style="height:450px" class="table-responsive">
                <table class="table-xxs table-bordered table-hover datatable-highlight dataTable no-footer" style="font-size:small;width:100%">
                    <thead>
                        <tr>
                            <th width="25px">#</th>
                            <th width="125px">Title</th>
                            <th>Bank Name</th>
                            <th width="150px">Account No</th>
                            <th width="250px">Account Name</th>
                            <th width="70px">Branch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in mybanks" style="vertical-align:top">
                            <td width="25px">{{$index+1 + index}}</td>
                            <td><a ng-click="setBank($index);">{{x.Title}}</a></td>
                            <td>
                                <img ng-src="/Images/bank/{{x.Bank.Logo}}" height="20" width="40" style="border-radius:10%;" />
                                &ensp;&ensp;{{x.Bank.Code}}-{{x.Bank.Name}}
                            </td>
                            <td>{{x.AccountNo}}</td>
                            <td>{{x.AccountName}}</td>
                            <td>{{x.Branch}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

