
@{
    Layout = null;
}

<div id="modal_identity_image" class="modal fade" z-index="10000">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Identity Image</h6>
            </div>

            @*<div class="input-group">
                <span class="input-group-addon"><i class="icon-search4"></i></span>
                <input type="text" ng-keyup="$event.keyCode == 13 && getLiteStamps(st_kriteria, st_page, row)" class="form-control" ng-model="st_kriteria" placeholder="Enter stamp descr" />

                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="getLiteStamps(st_kriteria, st_page, row)">Search</button>
                </span>

                <span class="input-group-btn" style="width:75px">
                    <select ng-model="st_page" class="form-control" ng-change="changePageStamps(st_kriteria, st_page, row)">
                        <option value="{{x.value}}" ng-repeat="x in st_paging">{{x.text}}</option>
                    </select>
                </span>
            </div>*@

            <div style="height:450px" class="table-responsive">
                <table class="table-xxs table-bordered table-hover datatable-highlight dataTable no-footer" style="font-size:small;width:100%">
                    @*<thead>
                        <tr>
                            <th width="25px">#</th>
                            <th width="25px">Stamp</th>
                            <th>Descr</th>
                        </tr>
                    </thead>*@
                    <tbody>
                        <tr ng-repeat="x in identities" style="vertical-align:top">
                            <td><img src="~/Images/member/{{x.Image}}" width="100%" /><br />{{x.Title}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

