
@{
    Layout = null;
}

<div id="modal_select_workflow" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Select Workflow</h6>
            </div>

            <div class="input-group">
                <input type="text" ng-keyup="$event.keyCode == 13 && findWorkflows($parent.kriteria, $parent.page, $parent.row)" class="form-control" ng-model="$parent.kriteria" placeholder="Enter workflow name" />

                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="findWorkflows($parent.kriteria, $parent.page, $parent.row)">Search</button>
                </span>

                <span class="input-group-btn" style="width:75px">
                    <select ng-model="$parent.page" class="form-control" ng-change="changePageWorkflows($parent.kriteria, $parent.page, $parent.row)">
                        <option value="{{x.value}}" ng-repeat="x in paging">{{x.text}}</option>
                    </select>
                </span>
            </div>

            <div style="max-height:450px" class="table-responsive">
                <table class="table-xxs table-borderless table-hover datatable-highlight dataTable no-footer" style="font-size:small;width:100%">

                    <tbody>
                        <tr ng-repeat="x in $parent.workflows" style="cursor:pointer;height:25px;vertical-align:top;" data-dismiss="modal" ng-click="setWorkflow($index);">
                            <td width="15px"><i class="icon-search4"/></td>
                            <td>{{x.Name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

