
@{
    Layout = null;
}

<div id="modal_select_company" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Select Company</h6>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="icon-search4"></i></span>
                <input type="text" ng-keyup="$event.keyCode == 13 && getLiteCompanies($parent.criteria, $parent.page, $parent.row)" class="form-control" ng-model="criteria" placeholder="Enter company name" />

                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="getLiteCompanies($parent.criteria, $parent.page, $parent.row)">Search</button>
                </span>

                <span class="input-group-btn" style="width:75px">
                    <select ng-model="$parent.page" class="form-control" ng-change="changePageCompanies($parent.criteria, $parent.page, $parent.row)">
                        <option value="{{x.value}}" ng-repeat="x in paging">{{x.text}}</option>
                    </select>
                </span>
            </div>

            <div style="height:450px" class="table-responsive">
                <table class="table table-bordered table-hover datatable-highlight dataTable no-footer" style="font-size:small">
                    <thead>
                        <tr>
                            <th width="25px">#</th>
                            @*<th width="25px">Set</th>*@
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in companies" style="vertical-align:top">
                            <td width="25px">{{$index+1 + index}}</td>
                            @*<td width="25px"><a data-dismiss="modal" ng-click="setCompany($index);">Select</a></td>*@
                            <td><a data-dismiss="modal" ng-click="setCompany($index);">{{x.Name}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

