
@{
    Layout = null;
}

<div id="modal_select_document" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Upload File </h6>
            </div>

            <div class="input-group" style="padding:50px; align-content:center; vertical-align:central; width:100%;">
                <form autocomplete="off" >
                    <div ng-show="wizarno=='product'">
                            <div class="col-md-12">
                                <div class="row justify-content-sm-center">
                                    <div class="col-sm-4">
                                            <span style="position:absolute;padding:5px;font-size:smaller" ng-model="progressUploadFile">{{docFileName}}<br />{{progressValueUploadFile}}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        
                                        <div class="image-wrapper">

                                            <img ng-src="/Images/filetype/{{fileTypeImage}}" class="image-content"
                                                    ngf-drop="uploadDocFile(0,$file, $invalidFiles)"
                                                    ngf-select="uploadDocFile(0,$file, $invalidFiles)"
                                                    accept="application/pdf" 
                                                    ngf-pattern="'application/pdf'"
                                                    @*ngf-pattern="'audio/*'"
                                                                accept="audio/*"*@
                                                    @*ngf-max-height="1000" ngf-max-size="1MB"*@
                                                    ngf-max-size="1000MB" style="object-fit:fill" />
                                        </div>
                                        
                                        <span style="font-size:xx-small">File Size: {{model.FileSize}}</span>   
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="control-label" ng-show="model.Id!=0 || isUpload">
                                        <small><b>Set up document</b> is used for placing signature and/or initial box</small><br />
                                        <b><a class="btn btn-dark" ng-click="annoDocument()">Set up document</a></b> of {{docFileName}}
                                    </div><br />
                                </div>        
                                <div class="row">
                                    <div class="col-6">
                                        <label class="control-label">max print/person  <small style="color:gray">(optional)</small></label>
                                        <input type="number" class="form-control input-xs" ng-model="model.MaxPrint" ng-required="wizarno=='product'" maxlength="3" ng-only-number />
                                    </div>
                                    <div class="col-6">
                                        <label class="control-label">max download/person <small style="color:gray">(optional)</small></label>
                                        <input type="number" class="form-control input-xs" ng-model="model.MaxDownload" ng-required="wizarno=='product'" maxlength="3" ng-only-number />
                                    </div>
                                        


                            </div>
                            <br />
                                </div>
                            </div>
                        <hr />

                        <div class="col-md-12">

                            <div class="col-md-12">
                                <div class="text-right">
                                    <span class="input-group-btn">
                                        <button class="btn bg-slate-700 pull-right btn-ladda btn-submit" data-style="slide-down" data-spinner-color="#333" ng-click="updateProduct()" style="width:120px">
                                            <span class="ladda-label">Submit</span><span class="ladda-spinner"></span>
                                            <div class="ladda-progress" style="width: 0px;"></div>
                                        </button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </form>

                    </div>


        </div>
    </div>
</div>

