
@{
    Layout = null;
}

<div id="modal_select_document" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Upload File </h6>
            </div>

            <div class="input-group" style="padding:50px; padding-top:10px; align-content:center; vertical-align:central; width:100%;">
                <form autocomplete="off" >
                    <div ng-show="wizarno=='product'">
                        <div class="col-md-12">

                            <div class="row justify-content-sm-center">
                                <div ng-show="fileTypeImage == 'no_document.png'" class="col-sm-12">
                                    <div ngf-drop="uploadDocFile(0,$file, $invalidFiles)" class="drop-box"
                                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                                         accept="application/pdf"
                                         ngf-pattern="'application/pdf'">
                                        Drop your pdf file here or
                                        <span class="btn browsebutton bg-dark" ngf-select="uploadDocFile(0,$file, $invalidFiles)" style="margin-left:10px;background-color:#075685; color:white; width:100px;height:20px">choose your file</span><br />
                                        <span style="position:absolute;padding:5px;font-size:smaller" ng-model="$parent.progressUploadFile">{{$parent.model.FileName}}<br />{{$parent.progressValueUploadFile}}</span>
                                    </div>
                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                </div>
                                <div class="col-sm-4">
                                   
                                </div>
                                <div class="col-sm-4">
                                    <div class="image-wrapper">

                                        <img ng-show="fileTypeImage != 'no_document.png'" ng-src="/Images/filetype/{{fileTypeImage}}" class="image-content"
                                             ngf-drop="uploadDocFile(0,$file, $invalidFiles)"
                                             ngf-select="uploadDocFile(0,$file, $invalidFiles)"
                                             accept="application/pdf"
                                             ngf-pattern="'application/pdf'"
                                             style="object-fit:fill" />
                                    </div>

                                    <span ng-show=" $parent.isUpload" style="font-size:xx-small">File Size: {{humanFileSize($parent.model.FileSize,1024)}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="control-label" ng-show="$parent.isUpload">
                                    <!--
    <small><b>Set up document</b> is used for placing signature and/or initial box</small><br />
        <b><a style="background-color:#FCD097; color:white;" class="btn btn-dark" ng-click="annoDocument()"> Set up document</a></b> of
    -->
                                    {{$parent.docFileName}}
                                </div><br />
                            </div>        
                            <br />
                            <!--
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">max print/person  <small style="color:gray">(optional)</small></label>
                                    <input type="number" class="form-control input-xs" ng-model="$parent.model.MaxPrint" ng-required="wizarno=='product'" ng-only-number />
                                </div>
                                <div class="col-6">
                                    <label class="control-label">max download/person <small style="color:gray">(optional)</small></label>
                                    <input type="number" class="form-control input-xs" ng-model="$parent.model.MaxDownload" ng-required="wizarno=='product'" ng-only-number />
                                </div>
                            </div>
                                -->
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="text-right">
                                <span class="input-group-btn">
                                    <button disabled class="btn bg-slate-700 pull-right btn-ladda btn-submit submit-document" data-style="slide-down"
                                            data-spinner-color="#333" ng-click="prepareStoreDocument()" style="width:120px">
                                        <span class="ladda-label">Save</span><span class="ladda-spinner"></span>
                                        <div class="ladda-progress" style="width: 0px;"></div>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

