
@{
    Layout = null;
}

<div id="modal_password" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Password</h6>
            </div>

            <div class="modal-body">
                <div class="">
                    <label class="control-label">This document require your signature to continue, if you agree to sign this document, you need to confirm your password first</label>
                    <input type="password" class="form-control" id="thePassword" ng-model="thePassword" maxlength="50" value="" />
                    <span ng-show="passwordError" style="color:red">Invalid Password</span>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="triggerSubmitSwal(1);">Submit</button>
            </div>

        </div>
    </div>
</div>

