
@{
    Layout = null;
}

<style>
    .style-foto {
        width: 40px;
    }

    .style-blank {
        width: 141px;
        /*border-bottom-style: dotted;
        border-bottom-width: 1px;*/
    }

    .style-date {
        width: 120px;
        font-size: smaller;
    }

    .style-table {
        width: 100%;
    }

    .style-name {
    }

    .style-status {
        text-align: center;
        font-size: smaller;
        width: 100px;
        /*border-bottom-style: dotted;
        border-bottom-width: 1px;*/
    }

    .style-date-remark {
        font-size: smaller;
        color: maroon;
    }

    .style-remark {
        /*border-bottom-style: dotted;
        border-bottom-width: 1px;*/
        font-size: smaller;
        color: gray;
    }

    .style-node {
        padding: 2px;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        font-size: smaller;
    }

    .style-note {
        font-size: smaller;
        color: red;
    }
</style>

<label class="control-label">Rotation Log</label>
<br />
<div style="border-bottom:dotted;border-bottom-width:1px;"></div>
<div ng-repeat="x in rotationNodes">

    <table class="style-table" style="font-size:medium;background-color:{{(x.User.Id==model.UserId?(x.Id==model.RotationNodeId?'#b2ebf2': '#eceff1'):'')}}">
        <tr style="border-bottom:dotted;border-bottom-width:1px;">
            <td class="style-foto" rowspan="2" style="padding:10px">
                <img alt="" ng-src="/Images/Member/{{x.User.ImageProfile}}" width="50" height="50" style="border-radius: 50%; cursor:pointer;" ng-click="showIdentityImage(x.User)" />
            </td>
            <td class="style-date" style="padding:10px">{{convertJsonDate(x.DateCreated) | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td class="style-name" style="padding:10px">
                <span style="color:black;"><b>{{x.User.Name}}</b></span>
                <span style="font-size:xx-small">in</span>
                <span class="style-node" style="color:{{x.WorkflowNode.TextColor}};background-color:{{x.WorkflowNode.BackColor}}">{{x.WorkflowNode.Caption}}</span>

                <!--Document-->
                <div ng-show="x.RotationNodeDocs.length>0 && x.Status!=0" style="font-size:x-small">
                    <span><u>Documents:</u></span> <br />
                    <span ng-repeat="d in x.RotationNodeDocs">
                        <span>
                            <b><span ng-show="$index>0">| </span>{{d.Document.Title}}</b>
                            <span style="font-size:xx-small;color:darkgrey">
                                <span ng-show="validAction(d.FlagAction,1)">signed</span>
                                <span ng-show="validAction(d.FlagAction,32)">stamped</span>
                                <span ng-show="validAction(d.FlagAction,2)">revised</span>
                                <span ng-show="validAction(d.FlagAction,4)">viewed</span>
                                <span ng-show="validAction(d.FlagAction,8)">printed</span>
                                <span ng-show="validAction(d.FlagAction,16)">downloaded</span>
                            </span>
                        </span>
                    </span>
                </div>

                <!--Uploaded Attachemnt-->
                <div ng-show="x.RotationNodeUpDocs.length>0 && x.Status!='00'" style="font-size:x-small">
                    <span><u>Attachments:</u></span><br />
                    <span ng-repeat="d in x.RotationNodeUpDocs">
                        <span><img ng-src="/Images/Filetype/{{d.DocumentUpload.ExtFile}}.png" width="15" />{{d.DocumentUpload.FileNameOri}} </span>
                    </span>
                </div>


                <!--Remark-->
                <div ng-show="x.RotationNodeRemarks.length>0" style="font-size:x-small">
                    <span><u>Remarks:</u></span>
                    <span ng-repeat="d in x.RotationNodeRemarks">
                        <br /><span>{{convertJsonDate(d.DateStamp) | date:'dd/MM/yyyy HH:mm:ss'}}: <i>{{d.Remark}}</i></span>
                    </span>
                </div>

                <!--Note-->
                <div ng-show="x.Note!=null">
                    <br />
                    <label class="style-note">{{x.Note}}</label>
                </div>
            </td>
            <td class="style-status" rowspan="2" style="padding:10px"><label style="padding: 3px; color:{{x.StatusCode.TextColor}};background-color:{{x.StatusCode.BackColor}}">{{getStatusName(x.Status)}}</label></td>
        </tr>
        @*<tr>
                <td class="style-blank">&nbsp;</td>
                <td class="style-remark">
                    <div ng-repeat="xx in x.RotationNodeRemarks">
                        <span class="style-date-remark"><u>{{convertJsonDate(xx.DateStamp) | date:'dd/MM/yyyy HH:mm:ss'}}</u>:</span>
                        <i>{{xx.Remark}}</i><br />
                    </div>
                    <label class="style-note">{{x.Note}}</label>
                </td>
            </tr>*@
    </table>
</div>
<div ng-show="sumDocuments.length>0">
    <br />
    <label class="control-label">Documents Summary</label><br />
    <table class="table-xs table-bordered table-striped" style="font-size:medium;width:100%">
        <thead>
            <tr>
                <th width="25px">#</th>
                <th>Title | File Name</th>
                <th>Action Summaries</th>
                <th width="125px" style="text-align:right">Size (bytes)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in sumDocuments" style="vertical-align:top;font-size:small">
                <td width="25px">{{$index+1 + index}}</td>
                <td><a ng-click="viewDocument(x)">{{x.Document.Title}} | {{x.Document.FileNameOri}}</a></td>

                <td>
                    <span style="font-size:small;color:darkgrey">
                        <span ng-show="validAction(x.FlagAction,1)">signed</span>
                        <span ng-show="validAction(x.FlagAction,32)">stamped</span>
                        <span ng-show="validAction(x.FlagAction,2)">revised</span>
                        <span ng-show="validAction(x.FlagAction,4)">viewed</span>
                        <span ng-show="validAction(x.FlagAction,8)">printed</span>
                        <span ng-show="validAction(x.FlagAction,16)">downloaded</span>
                    </span>
                </td>
                <td width="125px" style="text-align:right">{{x.Document.FileSize | number}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="sumAttachments.length>0">
    <label class="control-label">Attachments Summary<a data-action="collapse"></a></label><br />
    <table class="table-xs table-bordered table-striped" style="font-size:medium;width:100%">
        <thead>
            <tr>
                <th width="25px">#</th>
                <th>File Name</th>
                <th width="125px" style="text-align:right">Size (bytes)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in sumAttachments" style="vertical-align:top;font-size:small">
                <td width="25px">{{$index+1 + index}}</td>
                <td><img ng-src="/Images/FileType/{{x.DocumentUpload.ExtFile}}.png" width="15" /> <a ng-click="downloadAttchment(x)">{{x.DocumentUpload.FileNameOri}}</a></td>
                <td width="125px" style="text-align:right">{{x.DocumentUpload.FileSize | number}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-include src="'/Include/PdfIViewer'"></ng-include>