
@{
    Layout = null;
}
<br />
<div style="border-bottom:dotted;border-bottom-width:1px;"></div>
<div class="table-responsive" ng-repeat="x in rotationNodes">
    <table class="style-table" style="font-size:medium;background-color:{{(x.User.Id==model.UserId && x.Status==0?(x.Id==model.RotationNodeId?'#FCD097': '#AFC9D8'):'')}}">
        <tr style="border-bottom:dotted;border-bottom-width:1px;">
            <td class="style-foto" rowspan="2" style="padding:10px">
                <img alt="" src="{{x.User.ImageProfile!=null || x.User.ImageProfile==''? '/Images/Member/' + x.User.EncryptedUserId + '/' + x.User.ImageProfile : '/Images/Member/user.png'}}" width="50" height="50" style="border-radius: 50%; cursor:pointer;"/>
            </td>
            <td class="style-date" style="padding:10px">{{convertJsonDate(x.CreatedAt) | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td class="style-name" style="padding:10px">
                <span style="color:black;"><b>{{x.User.Name}}</b></span>
                <span style="font-size:xx-small">in</span>
                <span class="style-node" style="color:{{x.WorkflowNode.TextColor}};background-color:{{x.WorkflowNode.BackColor}}">{{x.WorkflowNode.Caption}}</span>

                <!--Document-->
                <div ng-show="x.RotationNodeDocs.length>0 && x.Status!=0" style="font-size:x-small;">
                    <span><u>Documents:</u></span> <br />
                    <span ng-repeat="d in x.RotationNodeDocs">
                        <span style="white-space: nowrap;width: 50px; overflow: hidden;text-overflow: clip;">
                            <b>{{d.Document.FileName}}</b>
                            <span style="font-size:xx-small;color:darkgrey">
                                <span ng-show="validAction(d.ActionStatus,1)">signed</span>
                                <span ng-show="validAction(d.ActionStatus,32)">stamped</span>
                                <span ng-show="validAction(d.ActionStatus,2)">revised</span>
                                <span ng-show="validAction(d.ActionStatus,4)">viewed</span>
                                <span ng-show="validAction(d.ActionStatus,8)">printed</span>
                                <span ng-show="validAction(d.ActionStatus,16)">downloaded</span>
                                <span ng-show="validAction(d.ActionStatus,64)">removed</span>
                            </span>
                        </span>
                    </span>
                </div>

                <!--Uploaded Attachemnt-->
                <div ng-show="x.RotationNodeUpDocs.length>0 && x.Status!='00'" style="font-size:x-small">
                    <span><u>Attachments:</u></span><br />
                    <span ng-repeat="d in x.RotationNodeUpDocs">
                        <span><img ng-src="/Images/Filetype/{{d.DocumentUpload.ExtFile}}.png" width="15" />{{d.DocumentUpload.FileNameOri}} </span>
                    </span>
                </div>


                <!--Remark-->
                <div ng-show="x.RotationNodeRemarks.length>0" style="font-size:x-small">
                    <span><u>Remarks:</u></span>
                    <span ng-repeat="d in x.RotationNodeRemarks">
                        <br /><span>{{convertJsonDate(d.DateStamp) | date:'dd/MM/yyyy HH:mm:ss'}}: <i>{{d.Remark}}</i></span>
                    </span>
                </div>

                <!--Note-->
                <div ng-show="x.Note!=null">
                    <br />
                    <label class="style-note">{{x.Note}}</label>
                </div>
            </td>
            <td class="style-status" rowspan="2" style="padding:10px"><label class="status {{SetItemClass(x.Status)}}">{{getStatusName(x.Status,x.WorkflowNodeId)}}</label></td>
        </tr>
    </table>
</div>
