@{
    Layout = null;
}
<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/assets/css/core.css" rel="stylesheet" type="text/css">
<link href="/assets/css/components.css" rel="stylesheet" type="text/css">
<link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
<!-- Core JS files -->
<script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
<!-- /core JS files -->
<!-- Theme JS files -->
<script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/layout_fixed_custom.js"></script>
<script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
<!-- /theme JS files -->
<!-- Theme JS files -->
<script type="text/javascript" src="/assets/js/plugins/notifications/noty.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/notifications/jgrowl.min.js"></script>

<script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
<script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.5.5/angular.js"></script>
<script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>

<script src="/assets/vendors/file-upload/ng-file-upload-shim.min.js"></script>
<script src="/assets/vendors/file-upload/ng-file-upload.min.js"></script>

<script src="/assets/vendors/ng_only_number.js"></script>


<script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>
<script src="~/Scripts/xpublic.js"></script>

<!-- Google map -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5y7e2nuBQ4OFE257snefNT8XorZVIGYY&libraries=visualization,drawing,geometry,places"></script>


<script src="~/Scripts/autocomplete/autocomplete.min.js"></script>
<link href="~/Scripts/autocomplete/autocomplete.min.css" rel="stylesheet" />

<script src="~/Scripts/lodash.min.js"></script>
<script src="~/Scripts/angular-simple-logger.js"></script>
<script src="~/Scripts/angular-google-maps.min.js"></script>
<!-- /Google map -->

<script src="/assets/js/jquery.autocomplete.js" ></script>

<style>
    .dd-option-image, .dd-selected-image {
        width: 500px;
        height: auto;
    }

    .map {
        width: 100%;
        height: 400px !important;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .pac-container {
        z-index: 9999 !important;
    }

    .modal_hide {
        top: -10000px;
        position: absolute;
    }
</style>


<style type="text/css">
    .auto-style3 {
        width: 64px;
    }

    .image-wraper {
        float: left;
        margin-right: 10px;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .image-content {
        width: 200px;
        cursor: pointer;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .image-wraper2 {
        float: left;
        margin-right: 10px;
        width: 300px;
        height: 200px;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .image-content2 {
        width: 300px;
        cursor: pointer;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .form-component {
        margin-bottom: 10px;
    }

    .input-field-darker {
        background: #e6e4e1;
    }

    .mg-left-10 {
        margin-left: 10px !important;
    }

    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
    .autocomplete-group { padding: 2px 5px; }
    .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
</style>

<body class="login-container" ng-app="drdApp" style="margin-top:-50px;">
    <!-- Page container -->
    <div class="page-container" ng-controller="drdController">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Horizontal form options -->
                <!-- Content area -->
                <div class="content" style="display:none;">
                    <!-- Basic layout-->
                    <div class="panel panel-body login-form" style="width:800px;">
                        <div ng-click="backToHome()" style="border:solid;border-color:cornflowerblue;border-width:1px;padding:10px;min-height:200px;width:100%;text-align:right">
                            <img src="../../Images/back_reg2.jpg" style="max-height:100%;max-width:100%" />
                        </div>
                        <div class="panel-body">
                            <!--MEMBER DATA-->
                            <form name="myForm" class="form-horizontal" >
                                <div ng-show="wizarno=='product'">
                                    <fieldset>
                                        <div class="col-md-12">

                                            <div class="row form-component">
                                                <div class="col-md-12">
                                                    <label class="control-label">Name</label>
                                                    <input type="text" class="form-control" ng-model="model.Name" ng-required="wizarno=='product'" maxlength="50" />
                                                </div>
                                            </div>

                                            <div class="row form-component">
                                                <div class="col-md-4">
                                                    <label class="control-label">Phone</label>
                                                    <input type="text" class="form-control" ng-model="model.Phone" ng-required="wizarno=='product'"
                                                           maxlength="20" ng-only-number />
                                                </div>
                                                <div class="col-md-8">
                                                    <label class="control-label">Email</label>
                                                    <input type="email" class="form-control" ng-change="checkAvailability(model.Email)"
                                                           ng-model="model.Email" ng-required="wizarno=='product'" maxlength="50" ng-readonly="model.Id!=0" />
                                                    <div style="color:red;font-size:10px;align-self:end">{{emailStatus}}</div>
                                                </div>

                                            </div>

                                            <div class="row form-component">
                                                <div class="col-md-6">
                                                    <label class="control-label">
                                                        Company (optional)
                                                        <small class="display-block text-light">select from registered company, to make new company please contact us</small>
                                                    </label>
                                                    <input type="text" id="autocomplete-company" class="form-control input-field-darker autocomplete-suggestion autocomplete-selected" 
                                                           placeholder="not selected" ng-model="model.CompanyName" maxlength="50" />
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>
                                    <div class="col-md-12">
                                        <div class="text-right">
                                            <span class="input-group-btn">
                                                <button class="btn bg-slate-700 pull-right btn-submit mg-left-10" data-style="slide-down"
                                                        data-spinner-color="#333" ng-click="validateForm()" style="width:120px">
                                                    <span class="ladda-label">Submit</span><span class="ladda-spinner"></span>
                                                    <div class="ladda-progress" style="width: 0px;"></div>
                                                </button>

                                                <button class="btn bg-slate-700 pull-right btn-cancel mg-left-10" data-style="slide-down"
                                                        data-spinner-color="#333" ng-click="backToHome()" style="width:120px">
                                                    <span class="ladda-label">Back</span><span class="ladda-spinner"></span>
                                                    <div class="ladda-progress" style="width: 0px;"></div>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--/MEMBER DATA-->
                            <!--CONFIRMATION THANK YOU-->
                            <div ng-show="wizarno=='success'">
                                <div class="col-md-12">
                                    <p>
                                        You have successfully registered your account. Please check your email to get your password to be able to <a ng-href="/login">log in</a>.<br />
                                        Subscription registration is successful.
                                    </p><br /><br />

                                    <p>if you want to register a new company to become our business partner. We’ll be glad if you contact us <a ng-href="#">here</a>.</p>
                                </div>
                            </div>
                            <!--/CONFIRMATION THANK YOU-->
                            <!-- View member modal -->
                            <ng-include src="'/Include/PopupTnC'"></ng-include>
                            <!-- View member modal -->
                        </div>
                    </div>
                    <!-- /basic layout -->
                </div>
                <!-- /vertical form options -->
            </div>
            <!-- /Main content -->
        </div>
        <!-- /Page content -->
    </div>
    <!-- /Page container -->

    <script type="text/javascript">
        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap', 'ngOnlyNumberApp', 'ngFileUpload', 'uiGmapgoogle-maps', 'google.places'])
        //myApp.config(['uiGmapGoogleMapApiProvider', function (GoogleMapApiProviders) {
        //    GoogleMapApiProviders.configure({
        //        china: true
        //    });
        //}]);
        myApp.controller("drdController", function ($scope, Upload, $http, $filter/*, $location, uiGmapGoogleMapApi, uiGmapIsReady*/) {
            // modal member
            $scope.model = {};
            $scope.wizarno = 'product';
            $scope.model.Id = 0;
            $scope.model.Image1 = "no_picture.png";
            $scope.model.Image2 = "no_picture.png";
            $scope.model.ImageCard = "no_picture.png";
            $scope.companyAll = [];
            //$scope.isUploadImage1 = 0;
            //$scope.isUploadImage2 = 0;
            //$scope.isUploadImageCard = 0

            $scope.subscriptionId = "";
            $scope.userNumber = "";
            $scope.aggrement = false;
            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            function initValues() {
            }

            angular.element(document).ready(function () {
                $scope.model.Image1 = "no_picture.png";
                $scope.model.Image2 = "no_picture.png";
                $scope.model.ImageCard = "no_picture.png";
                $scope.getAllCompanyAvailable();
                $(".content").show();
            });

            $scope.initData = function () {

            }

            /*--------------------------------------------------------------
            SAVE USER
            --------------------------------------------------------------*/
            $scope.saveUser = function () {
                var btn = Ladda.create( document.querySelector( '.btn-submit' ) );
                btn.start();

                $http.post('@Url.Action("Save", "Register")',
                    {
                        Register: {
                            Id: $scope.model.Id,
                            Name: $scope.model.Name,
                            Phone: $scope.model.Phone,
                            Email: $scope.model.Email,
                            CompanyId: $scope.model.CompanyId,
                        }
                    }).then(function (response) {
                        btn.stop();
                        if (response.data) {
                            var result = response.data;
                            if (result.Id == "DBLEMAIL") {
                                showInfo("User email already used by other.");
                                return;
                            }
                            if (result.Id == "ERROR") {
                                showInfo("There is some error please try again.")
                                return;
                            }
                            /*if (result.SubscriptionId == "DBLEMAIL") {
                                showInfo("Company email already used by other.");
                                return;
                            }*/

                            $scope.wizarno = 'success';
/*
                            $scope.subscriptionId = result.SubscriptionId;
                            $scope.userNumber = result.UserNumber;*/
                        }
                    }, function (response) {
                        //error handle\
                        btn.stop();
                        var x = 0;
                    });
            }
            $scope.getAllCompanyAvailable = function () {
                $http.get('@Url.Action("GetAllCompany", "Register")')
                .then(function (response) {
                    if (response.data) {
                        $scope.companyAll = $.map(response.data.companies, function (dataItem) {
                            return { value: dataItem.Name, data: dataItem.Id };
                        });
                        $scope.autocompleteCompany(); 
                    }
                });
            }

            $scope.autocompleteCompany = function () {
                var countries = [
                   { value: 'Andorra', data: 'AD' },
                   // ...
                   { value: 'Zimbabwe', data: 'ZZ' }
                ];// not used
                $('#autocomplete-company').autocomplete({
                    lookup: $scope.companyAll ,
                    onSelect: function(suggestion){
                        $scope.model.CompanyId = suggestion.data;
                        $scope.model.CompanyName = suggestion.value;
                    }
                });
            }


            $scope.setAggreement = function (value) {
                $scope.aggrement = value;
            }
            $scope.getAggreement = function () {
                return $scope.aggrement;
            }
            $scope.validateForm = function () {
                if (!$scope.isValidForm($scope.myForm))
                    return;
                $scope.popupTnC();
            }
            $scope.popupTnC = function () {
                $("#modal_tnc").modal("show");
            }
            $scope.updateProduct = function () {
                if (!$scope.getAggreement()) {
                    alert("please tick the aggrement.");
                    return;
                }
                $("#modal_tnc").modal("hide");
                $scope.saveUser();
            }

            $scope.isValidForm = function (theForm) {
                var isvalid = theForm.$valid;
                return isvalid;
            };

            $scope.popupTnC = function () {
                $("#modal_tnc").modal("show");
            }

            $scope.scrollingPage = function (id) {
                $('html, body').animate({
                    scrollTop: $(id).offset().top
                }, 200);
            }
            $scope.backToHome = function () {
                location.href = "/login";
            }
            $scope.checkAvailability = function (emailUser) {
                $http.get('@Url.Action("CheckEmail", "Register")?email=' + emailUser)
                .then(function (response) {
                    if (response.data) {
                        document.querySelector('.btn-submit').disabled = false;
                        $scope.emailStatus = "";
                    }
                    else {
                        document.querySelector('.btn-submit').disabled = true;
                        $scope.emailStatus = "This email has already used";
                    }
                });
            }

            /*--------------------------------------------------------------
            UPLOAD IMAGE FILE
            --------------------------------------------------------------*/
            //$scope.uploadFiles = function (idx, file, errFiles) {
            //    $scope.f = file;
            //    $scope.errFile = errFiles && errFiles[0];
            //    if (file) {
            //        file.upload = Upload.upload({
            //            url: '/updownfile/uploadimage?idx=' + idx + '&fileType=9',
            //            data: { MyImages: file }
            //        });

            //        file.upload.then(function (response) {
            //            //$timeout(function () {
            //            file.result = response.data;

            //            if (idx == 0) {
            //                $scope.model.Image1 = file.result.filename;
            //                $scope.isUploadImage1 = 1;
            //            } else if (idx == 1) {
            //                $scope.model.Image2 = file.result.filename;
            //                $scope.isUploadImage2 = 1;
            //            } else if (idx == 2) {
            //                $scope.model.ImageCard = file.result.filename;
            //                $scope.isUploadImageCard = 1;
            //            }

            //        }, function (response) {
            //            if (response.status > 0)
            //                $scope.errorMsg = response.status + ': ' + response.data;
            //        }, function (evt) {
            //            file.progress = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
            //        });
            //    } else if ($scope.errFile != null) {
            //        showInfo("Error upload file : " + $scope.errFile.$error + " (" + $scope.errFile.$errorParam + ")");
            //    }
            //}
        });
        $(function () {
        });

        $(document).ready(function () {
            var countries = [
               { value: 'Andorra', data: 'AD' },
               // ...
               { value: 'Zimbabwe', data: 'ZZ' }
            ];

        })
    </script>
</body>