
@{
    Layout = null;
}

<div id="modal_select_linkcase" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Define Link Case</h6>
            </div>

            <div class="modal-body">
                
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Operator</label>
                        <select id="linkcase-operator" class="form-control" ng-model="linkcase.Operator">
                            <option value="{{x.Descr}}" ng-repeat="x in operators">{{x.Descr}}</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <label class="control-label">Value</label><br />
                        <input id="linkcase-value" type="text" class="form-control" ng-model="linkcase.Value" maxlength="20" @*ng-only-number*@ />
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="setLinkCase();">Save changes</button>
            </div>

        </div>
    </div>
</div>

