@using DRD.Domain;
@model JsonLayout
@{
    Layout = null;
}

<link rel="stylesheet" href="/assets/css/demo.css">
<link rel="stylesheet" href="/assets/css/header-user-dropdown.css">
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
      type="text/css">
<link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
<link href="/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
@*<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">*@
<link href="/assets/css/core.css" rel="stylesheet" type="text/css">
<link href="/assets/css/components.css" rel="stylesheet" type="text/css">
<link href="/assets/css/colors.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>




@*<script src="~/Scripts/pdf.js/build/pdf.worker.js" type="text/javascript"></script>*@


@*<script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
    <script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>*@

<script src="/assets/vendors/angular-1.5.5/angular.js"></script>
<script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>

<script src="/assets/vendors/file-upload/ng-file-upload-shim.min.js"></script>
<script src="/assets/vendors/file-upload/ng-file-upload.min.js"></script>
<script src="/assets/vendors/ng_only_number.js"></script>

<script src="/assets/vendors/angular-1.5.5/angular-sanitize.min.js"></script>

@*http://bootstrapswitch.com/*@
@*<link href="/assets/vendors/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
    <script src="/assets/vendors/bootstrap-switch/bootstrap-switch.js"></script>*@

@* demo/doc https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&autoclose=on&keyboardNavigation=on&forceParse=on#sandbox*@
@*<link id="bsdp-css" href="/assets/vendors/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <script src="/assets/vendors/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script>*@

<script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>

<script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>

@*<script src="~/Scripts/xpublic.js"></script>*@


@*<script src="~/Scripts/require.js"></script>*@

<link rel="stylesheet" href="/Scripts/pdf.js/web/viewer.css">

<!-- This snippet is used in production (included from viewer.html) -->
@*<link rel="resource" type="application/l10n" href="/Scripts/pdf.js/web/locale/locale.properties">*@
<script src="/Scripts/pdf.js/build/pdf.js"></script>
@*<script src="/Scripts/pdf.js/build/pdf.worker.js"></script>*@
<script src="/Scripts/pdf.js/web/viewer.js"></script>
@*<script> var exports = {}; </script>
    <script type="module"  src="~/Scripts/pdf.js.2.0.943/lib/web/annotation_layer_builder.js"></script>*@

<style type="text/css">
    .auto-style3 {
        width: 64px;
    }

    .image-wraper {
        float: left;
        margin-right: 10px;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .image-content {
        width: 200px;
        cursor: pointer;
        /*padding: 5px;*/
        /*position: absolute;*/
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .cb-center {
        text-align: center;
        vertical-align: middle;
    }

    .svg-selection{
        user-select: none;
        pointer-events: none;
        position: absolute;
        touch-action: none;
    }

    .rect-selection{
        fill: transparent;
        stroke: rgba(60,151,254,.5);
        shape-rendering: crispEdges;
        cursor: pointer;
        pointer-events: fill;
    }

    .circle-selection{
        
        fill: #3c97fe;
        stroke: #fff;
        pointer-events: fill;
    }

    .resize-cursor-topleft{cursor: nwse-resize;}
    .resize-cursor-topcenter{cursor: ns-resize;}
    .resize-cursor-topright{cursor: nesw-resize;}

    .resize-cursor-bottomleft{cursor: nesw-resize;}
    .resize-cursor-bottomcenter{cursor: ns-resize;}
    .resize-cursor-bottomright{cursor: nwse-resize;}

    .resize-cursor-left{cursor: ew-resize;}
    .resize-cursor-right{cursor: ew-resize;}

</style>



<body ng-app="drdApp">

    <!-- Page container -->
    <div class="page-container" ng-controller="drdController">


        <!-- Page content -->
        <div class="page-content">


            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4>@*<i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> -*@ Data Dokumen</h4>
                            <span style="font-size:small">Entry data dokumen @*| <a href="/home/productlist">Kembali ke list</a>*@</span>
                        </div>

                    </div>

                </div>
                <!-- /page header -->
                <!-- Horizontal form options -->
                <!-- Content area -->
                <div class="content" @*style="display:none"*@>

                    <!-- Basic layout-->
                    <div class="panel panel-flat">

                        <div class="panel-body" style="height:500px;padding:0px;background-color:grey">
                            <ng-include src="'/Include/PdfViewer'" onload="finishLoading()"></ng-include>

                            <svg class="svg-selection" style="left: 375px; top: 99px; width: 64px; height: 55px;">
                                <rect class="rect-selection" x="7" y="7" width="50" height="41" style="stroke-width: 2;"></rect>
                                <circle cx="7" cy="7" r="6" stroke-width="1" class="circle-selection resize-cursor-topleft" title="Resize top left"></circle>
                                <circle cx="32" cy="7" r="6" stroke-width="1" class="circle-selection resize-cursor-topcenter" title="Resize top"></circle>
                                <circle cx="57" cy="7" r="6" stroke-width="1" class="circle-selection resize-cursor-topright" title="Resize top right"></circle>
                                <circle cx="57" cy="27.5" r="6" stroke-width="1" class="circle-selection resize-cursor-right" title="Resize right"></circle>
                                <circle cx="57" cy="48" r="6" stroke-width="1" class="circle-selection resize-cursor-bottomright" title="Resize bottom right"></circle>
                                <circle cx="32" cy="48" r="6" stroke-width="1" class="circle-selection resize-cursor-bottomcenter" title="Resize bottom"></circle>
                                <circle cx="7" cy="48" r="6" stroke-width="1" class="circle-selection resize-cursor-bottomleft" title="Resize bottom left"></circle>
                                <circle cx="7" cy="27.5" r="6" stroke-width="1" class="circle-selection resize-cursor-left" title="Resize left"></circle>
                                
                            </svg>

                            <div style="position:absolute;top:100px;left:200px">test</div>

                        </div>
                    </div>
                    <!-- /basic layout -->
                </div>
                <!-- /vertical form options -->
            </div>
            <!-- /Main content -->
        </div>
        <!-- /Page content -->
    </div>

    
    <!-- /Page container -->

    <script type="text/javascript">


        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap', 'ngSanitize', 'ngFileUpload', 'ngOnlyNumberApp'])


        myApp.controller("drdController", function ($scope, $sce, Upload, $location, $http, $filter) {

            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
            });

            function initValues() {
            }

            $scope.initData = function () {
            }

            var svgPadding = 4.;
            var toolType = 0;

            var strokeWidth = 5;
            var bufferSize = 4;

            var svgElement;
            var rect = {};
            var path = null;
            var strPath;
            var buffer = []; // Contains the last positions of the mouse cursor
            var svgNo = 0;
            $scope.clickPen = function () {
                toolType = pdfjsLib.AnnotationType.LINE;

                var canvas = $('#page1');//document.getElementById("page1");
                var height = canvas[0].height;
                var width = canvas[0].width;
                var canvasRoot = canvas.parent().parent();
                var svg = '<svg id="svg' + svgNo + '" width="' + width + 'px" height="' + height + 'px" style="position:absolute; top:0px; left:0px;"></svg>';
                //var svg = '<svg id="svg' + svgNo + '" viewBox="0 0 ' + width + ' ' + height + '" style="position:absolute; top:0px; left:0px; width: 100%; height: 100%; pointer-events:none;"></svg>';
                var block = canvasRoot.find('.textLayer');
                block.append(svg);

                svgElement = document.getElementById("svg" + svgNo++);
                //rect = svgElement.getBoundingClientRect();

                svgElement.addEventListener("mousedown", svgMouseDown);

                svgElement.addEventListener("mousemove", svgMouseMove);

                svgElement.addEventListener("mouseup", svgMouseUp);

            }


            var svgMouseDown = function (e) {
                if (toolType == 0)
                    return;

                rect = svgElement.getBoundingClientRect();

                bufferSize = 4;//document.getElementById("cmbBufferSize").value;
                path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
                path.setAttribute("fill", "none");
                path.setAttribute("stroke", "#000");
                path.setAttribute("stroke-width", strokeWidth);
                path.setAttribute("style", "cursor:pointer;pointer-events:stroke;");

                buffer = [];
                var pt = getMousePosition(e);
                appendToBuffer(pt);
                strPath = "M" + pt.x + " " + pt.y;
                path.setAttribute("d", strPath);
                svgElement.appendChild(path);
            };

            var svgMouseMove = function (e) {
                if (toolType == 0)
                    return;
                if (path) {
                    appendToBuffer(getMousePosition(e));
                    updateSvgPath();
                }
            };

            var svgMouseUp = function () {
                svgElement.removeEventListener("mousedown", svgMouseDown, true);
                svgElement.removeEventListener("mousemove", svgMouseMove, true);
                svgElement.removeEventListener("mouseup", svgMouseUp, true);
                if (toolType == 0)
                    return;
                toolType = 0;
                if (path) {
                    var rc = svgElement.getBoundingClientRect();
                    var rect = path.getBoundingClientRect();

                    //var l = rect.left - rc.left - svgPadding;
                    //var t = rect.top - rc.top - svgPadding;
                    //var w = rect.width + (svgPadding * 2);
                    //var h = rect.height + (svgPadding * 2);

                    //$('#' + svgElement.id).attr("viewBox", l + ' ' + t + ' ' + w + ' ' + h);

                    $('#' + svgElement.id).attr("width", rect.width + (svgPadding * 2)).attr("height", rect.height + (svgPadding * 2));
                    $('#' + svgElement.id).css({ 'top': rect.top - rc.top - svgPadding + 'px' });
                    $('#' + svgElement.id).css({ 'left': rect.left - rc.left - svgPadding + 'px' });
                    $('#' + svgElement.id).css({ 'pointer-events': 'none' });

                    var d = path.attributes['d'].value;
                    var ds = d.split(' ');
                    var newd = "";
                    var xy = 0;
                    for (i = 0; i < ds.length; i++) {
                        var digit1 = "";
                        var value = 0;
                        if ($.isNumeric(ds[i]))
                            value = parseFloat(ds[i]);
                        else {
                            digit1 = ds[i].substring(0, 1);
                            value = parseFloat(ds[i].substring(1));
                        }

                        data = digit1 + ((xy != 0 ? value - (rect.top - rc.top) : value - (rect.left - rc.left)) + svgPadding) + " ";
                        newd += data;
                        if (xy == 0) xy = 1; else xy = 0;
                    }

                    path.setAttribute('d', newd);

                    path = null;
                }
            };

            $scope.clickPointer = function () {
                toolType = 0;
            }

            var getMousePosition = function (e) {

                return {
                    x: e.pageX - rect.left,
                    y: e.pageY - rect.top
                }
            };

            var appendToBuffer = function (pt) {
                buffer.push(pt);
                while (buffer.length > bufferSize) {
                    buffer.shift();
                }
            };

            // Calculate the average point, starting at offset in the buffer
            var getAveragePoint = function (offset) {
                var len = buffer.length;
                if (len % 2 === 1 || len >= bufferSize) {
                    var totalX = 0;
                    var totalY = 0;
                    var pt, i;
                    var count = 0;
                    for (i = offset; i < len; i++) {
                        count++;
                        pt = buffer[i];
                        totalX += pt.x;
                        totalY += pt.y;
                    }
                    return {
                        x: totalX / count,
                        y: totalY / count
                    }
                }
                return null;
            };

            var updateSvgPath = function () {
                var pt = getAveragePoint(0);

                if (pt) {
                    // Get the smoothed part of the path that will not change
                    strPath += " L" + pt.x + " " + pt.y;

                    // Get the last part of the path (close to the current mouse position)
                    // This part will change if the mouse moves again
                    var tmpPath = "";
                    for (var offset = 2; offset < buffer.length; offset += 2) {
                        pt = getAveragePoint(offset);
                        tmpPath += " L" + pt.x + " " + pt.y;
                    }

                    // Set the complete current path coordinates
                    path.setAttribute("d", strPath + tmpPath);
                }
            };

            $scope.finishLoading = function () {
                var a = pdfjsLib.AnnotationLayer;
                /*const pdfjsLib = require('pdfjs-dist');
                ...
                pdfjsLib.getDocument(pdfPath).then(function (doc) {
                    var numPages = doc.numPages;
                    console.log('# Document Loaded');
                    console.log('Number of Pages: ' + numPages);
                }
                */
                //var numPages=0;
                //pdfjsLib.getDocument(pdfPath).then(function (doc) {
                //    numPages = doc.numPages;
                //});
                //var pg = pdfjsLib.PDFWorker().get
                //var pg=pdfjsLib.getDocument();
                var canvas = $('#page1');
                //alert(pg);
            }


            /*--------------------------------------------------------------
                END POPUP MEMBER
            --------------------------------------------------------------*/


        });


        $(function () {

        });

        function clickPointer() {
            //var z = pdfjsLib.pageCount;
            //var a = pdfjsLib.AnnotationLayer;
            //var xx=PDFViewerApplication.pdfDocumentProperties;
            //var x = pdfjsLib.PDFDataRangeTransport;
        }

        $(document).ready(function () {
            //$('#checkbox1').bootstrapSwitch();
        })

    </script>

</body>