@model DRD.Models.View.Layout
@{
    ViewBag.Title = "Rotation Detail";
    ViewBag.Submenu = "ROTATION";
}
@section Scripts
{
    
}

@section Styles
{
    <link href="~/assets/css/pages/rotation.css" rel="stylesheet" type="text/css">
}

<body @*ng-app="drdApp"*@>
    <h4><a href="/rotation/list" class="btn btn-logo-header"><i class="icon-infinite"></i></a> @ViewBag.Title</h4>
    <!-- Page container -->
    <div class="page-container" ng-controller="drdController">
        <!-- Content area -->
        <div class="content" style="display:none">
            <!-- Basic layout-->
            <div class="panel panel-flat">
                <div class="panel-body">
                    <!--MEMBER DATA-->
                    <form name="myForm" class="form-horizontal" autocomplete="off">
                        <div ng-show="wizarno=='product'">
                            <fieldset>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            Name <br>
                                        </div>
                                        <div class="col-sm-10">
                                            : <strong>{{model.Name}}</strong><br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            Workflow <br>
                                        </div>
                                        <div class="col-sm-10">
                                            : <strong>{{workflow.Name}}</strong><br>
                                        </div>
                                    </div>
                                    <div ng-show="model.CompanyName!= null" class="row">
                                        <div class="col-sm-2">
                                            Company <br>
                                        </div>
                                        <div class="col-sm-10">
                                            : <strong>{{model.CompanyName}}</strong><br>
                                        </div>
                                    </div>
                                    <div ng-show="model.Description!= null" class="row">
                                        <div class="col-sm-2">
                                            Description <br>
                                        </div>
                                        <div class="col-sm-10">
                                            : {{model.Description}}<br>
                                        </div>
                                    </div>

                                    <div ng-show="model.Tags.lentgh>0" class="row">
                                        <div class="col-sm-2">
                                            Tags
                                        </div>
                                        <div class="col-sm-10">
                                            :
                                            <span class="tag-item" ng-repeat="tag in model.Tags">
                                                {{tag}}
                                            </span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div style="height:5px"></div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="control-label">Workflow Process</label>
                                            <table class="table-xxs table-bordered table-striped" style="font-size:small;width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Activity</th>
                                                        <th>Recipient</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-repeat="x in users" ng-init="topIdx = $index">
                                                    <tr style="vertical-align:top" on-finish-render="ngRepeatFinished">
                                                        <td rowspan="2">{{x.ActivityName}}</td>
                                                        <td>
                                                            <table style="width:100%;">
                                                                <tr>
                                                                    <td style="width:50px;">
                                                                        <img ng-src={{(x.Picture==null?"/Images/Member/user.png":"/Images/Member/"+x.EncryptedId+"/"+x.Picture)}} height="40" width="40" style="cursor:pointer;border-radius:50%;" ng-click="editMember($index)" />
                                                                    </td>
                                                                    <td style="font-size:xx-small">
                                                                        <span class="text-format">{{x.Number}}</span><br />
                                                                        <span class="text-format">{{x.Name}}</span><br />
                                                                        <span class="text-format">{{x.Email}}</span><br />
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="getFlagPermission(x.FlagPermission, 8) || getFlagPermission(x.FlagPermission, 16)">
                                                        <td style="font-size:xx-small">
                                                            <span style="font-size:small;color:brown">Permission :&ensp;</span>
                                                            <span class="btn" ng-show="getFlagPermission(x.FlagPermission, 8)" id="checkboxmt{{x.WorkflowNodeId}}-8" readonly disabled> Print</span>
                                                            <span class="btn" ng-show="getFlagPermission(x.FlagPermission, 16)" id="checkboxmt{{x.WorkflowNodeId}}-16" readonly disabled> Download</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br/>
                                            <button ng-show="model.CompanyName== null" class="btn btn-drd-1-bordered btn-large pull-right btn-ladda btn-submit1" data-style="slide-down" data-spinner-color="#333" ng-click="deleteRotation()" style="width:120px">
                                                <span class="ladda-label">&nbsp;&nbsp;Delete&nbsp;&nbsp;</span><span class="ladda-spinner"></span>
                                                <div class="ladda-progress" style="width: 0px;"></div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                    <!--/MEMBER DATA-->
                </div>
            </div>
            <!-- /basic layout -->
        </div>
        <!-- /vertical form options -->
    </div>
    <!-- /Page container -->

    <script type="text/javascript">


        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap'])
        myApp.directive('onFinishRender', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            scope.$emit('ngRepeatBindRoutesFinished');
                        });
                    }
                }
            }
        });
        myApp.controller("drdController", function ($scope, $http, $filter) {
            $scope.model = {};
            $scope.subscriptions = [];
            $scope.wizarno = 'product';
            $scope.master = {};
            $scope.model.IsActive=true;
            $scope.model.Status="00";
            $scope.users = [];
            $scope.SubscriptionList = [];
            initValues();


            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
                $(".content").show();
            });

            function initValues() {
                var product = @Html.Raw(Json.Encode(Model.Object));

                if (product.Id!=0 ){
                    $scope.model.Id=product.Id;
                    $scope.model.Name=product.Name;
                    $scope.model.Status = product.Status;
                    $scope.model.CompanyName = product.CompanyRotation == null?null:product.CompanyRotation.Name;
                    $scope.model.Description= product.Description;
                    $scope.workflow=product.Workflow;
                    $scope.users = product.RotationUsers;
                    $scope.model.Tags = product.Tags;
                    console.log($scope.users);
                }
            }

            $scope.getFlagPermission = function (val, bit) {
                return ((val & bit)==bit);
            };
            
            $scope.scrollingPage = function (id) {
                $('html, body').animate({
                    scrollTop: $(id).offset().top
                }, 200);
            }

            $scope.showSubscription = function () {
                $("#modal_select_subscription").modal("show");
            }
            $scope.do_start = function (id) {
                swal({
                    title: "Confirmation",
                    text: "Are you sure to start this rotation with \n" + $scope.SubscriptionList[id].SubscriptionName + " - " + $scope.SubscriptionList[id].CompanyName + " subscription?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    confirmButtonColor: "#2196F3",
                    showLoaderOnConfirm: true
                },
                function () {
                    setTimeout(function () {
                        $scope.startProduct($scope.SubscriptionList[id].Id);
                    }, 500);

                });
            }
            $scope.startProduct = function (id) {
                var rotationId = $scope.model.Id;
                $http.post("/Rotation/start?rotationId=" + rotationId + "&subscriptionId=" + id,
                    {
                    }).then(function (response) {
                        if (response.data) {
                            if (response.data == -1)
                                showError("Invalid rotation.");
                            else if (response.data == -2)
                                showError("Invalid member plan.");
                            else if (response.data == -3)
                                showInfo("Your package plan has expired, please check on my plan.");
                            else if (response.data == -4)
                                showInfo("Rotation quota is not enough, please check on my plan.");
                            else if (response.data == -5)
                                showInfo("Workflow doesnt has start node");
                            else {
                                $scope.wizarno = 'started';
                                showSuccess("Successful data process.");
                            }
                        } else
                            showInfo("process data error.");
                    }, function (response) {
                        //error handle\
                        var x = 0;
                        showInfo("process data error.");
                    });
            }

            $scope.getSubscriptionList = function () {
                $http.get('@Url.Action("GetSubscriptionList", "Subscription")')
                    .then(function (response) {
                        if (response.data) {
                            $scope.SubscriptionList = response.data.usages;

                        }
                    });
            }

            $scope.deleteRotation = function () {
                var rotationId = $scope.model.Id;
                $http.post('@Url.Action("DeleteRotation", "Rotation")', { id: rotationId })
                    .then(function (response) {
                        if (response.data == "OK") {
                            $.jGrowl('You have succefully delete a rotation', {
                                header: "Rotation deleted",
                                //sticky: true,
                                life: $scope.notiftime,
                                theme: 'alert-styled-right bg-info'
                            });
                            
                            window.location.href = 'rotation/list';
                        } else if(response.data == "NOT_FOUND") {
                            $.jGrowl('Rotation not found', {
                                header: "Delete failed",
                                //sticky: true,
                                life: $scope.notiftime,
                                theme: 'alert-styled-right bg-danger'
                            });
                        }
                         else if(response.data == "ERROR_ROTATION_ALREADY_STARTED") {
                            $.jGrowl('Rotation has already started', {
                                header: "Delete failed",
                                //sticky: true,
                                life: $scope.notiftime,
                                theme: 'alert-styled-right bg-danger'
                            });
                        }
                    });
            }

        });

        $(function () {
        });


        $(document).ready(function () {
        })

    </script>
</body>